#Comment

#jekyll files
_site
ids.txt


#folders
_includes/css
_includes/html
_includes/icons
_includes/tools
assets/css
assets/img
assets/js
pages


#files
indexbak.html
sitemap.xml
jemazar.code-workspace
.DS_Store
