---

---

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" lang="es">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Jemazar - Santiago, Republica Dominicana</title>

    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/main.css" media="screen" title="no title">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">

    <script defer type="text/javascript" src="{{site.baseurl}}/assets/js/slideshow.js"></script>
    <script type="text/javascript" src="{{site.baseurl}}/assets/js/instafeed.js"></script>
  </head>

  <body id="nav__inicio">

    <!-- Importanto el Header -->
    {% include html/header.html %}

    <!-- Importando el contenido del Index -->
    {% include html/index-content.html %}

    <!-- importando el footer -->
    {% include html/footer.html %}

  </body>
</html>
