---

---

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" lang="es">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Jemazar - Santiago, Republica Dominicana</title>
    <link rel="stylesheet" href="assets/css/main.css" media="screen" title="no title">
    <script src="assets/js/slideshow.js" defer></script>
  </head>

  <body>

    <!-- Importanto el Header -->
    {% include html/header.html %}

    <!-- Importando el contenido del Index -->
    {% include html/index-content.html %}

    <!-- importando el footer -->
    {% include html/footer.html %}

  </body>
</html>
