.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  height: 40px;
  padding: 0 30px;
  color: #003399;
  text-align: center;
  font-size: 14px;
  /*font-weight: 600;*/
  line-height: 38px;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: #ffffff;
  border-radius: 10px;
  border: 1px solid #003399;
  cursor: pointer;
  box-sizing: border-box;
}
.button:hover,
.button:active,
.button:focus,
.button2:hover,
.button2:active,
.button2:focus,
button:hover,
button:active,
button:focus,
input[type="submit"]:hover,
input[type="submit"]:active,
input[type="submit"]:focus,
input[type="reset"]:hover,
input[type="reset"]:active,
input[type="reset"]:focus,
input[type="button"]:hover,
input[type="button"]:active,
input[type="button"]:focus {
  color: #ffffff;
  border-color: #ffffff;
  background-color: #003399;
  outline: 0;
}

.button2,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  padding: 0 15px;
  color: #003399;
  text-align: center;
  font-size: 14px;
  font-weight: normal;
  line-height: 38px;
  letter-spacing: 0.1rem;
  text-decoration: none;
  white-space: nowrap;
  background-color: #ffffff;
  /*height: 40px;*/
  /*text-transform: uppercase;*/
  border-radius: 10px;
  border: 1px solid #003399;
  /*cursor: pointer;*/
  box-sizing: border-box;
}
