/*
helveticaNeue font family
*/

@font-face {
  font-family: 'HelveticaNeue';
  src: url({{site.baseurl}}/assets/fonts/helvetica_neue_bold.otf);
  font-style: normal;
  font-weight: bolder;
}
@font-face {
  font-family: 'HelveticaNeue';
  src: url({{site.baseurl}}/assets/fonts/helvetica_neue_medium.otf);
  font-style: normal;
  font-weight: bold;
}
@font-face {
  font-family: 'HelveticaNeue';
  src: url({{site.baseurl}}/assets/fonts/helvetica_neue_light.otf);
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'HelveticaNeue';
  src: url({{site.baseurl}}/assets/fonts/helvetica_neue_thin.otf);
  font-style: normal;
  font-weight: 200;
}
