<script src='https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyDcs9YNB6jHRGqC25_O-HGbYKTK-Uo5MB8'></script>
<div class="gmap">
  <div class="gmap_canvas" id='gmap_canvas'>
  </div>
  <style>
    #gmap_canvas img{
      max-width: none !important;
      background:none !important;
    }
  </style>
</div>
<script type='text/javascript' src='https://embedmaps.com/google-maps-authorization/script.js?id=0e7a7f522cecbe1eadeef826e38c6c2fa3e20d72'>
</script>
<script type='text/javascript'>
  function init_map(){
    var myOptions = {
      zoom:13,
      center:new google.maps.LatLng(19.480733734053583,-70.69019220077213),
      mapTypeId: google.maps.MapTypeId.ROADMAP};
      map = new google.maps.Map(document.getElementById('gmap_canvas'),myOptions);
      marker = new google.maps.Marker({map: map,position:
         new google.maps.LatLng(19.480733734053583,-70.69019220077213)});
      infowindow = new google.maps.InfoWindow({
        content:'<strong>Jemazar</strong><br><br> santiago republica dominicana<br>'});
        google.maps.event.addListener(marker, 'click', function(){
          infowindow.open(map,marker);});
          infowindow.open(map,marker);}
          google.maps.event.addDomListener(window, 'load', init_map);
</script>
