/*CSS para el <footer>*/
footer{
  position: relative;
  width: 100%;
  padding: 30px 0 0 0;
  background-color: #003399;
  z-index: 1060;
}
.footer__content{
  max-width: 1300px;
  margin: 0 auto ;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
}
.content__main{
  display: flex;
  flex-direction:row;
  flex-wrap:wrap;
  justify-content: space-around;
  align-content: center;
}
.footer--format{
  /*width: 375px;*/
  padding: 20px 50px;
  display: flex;
  flex-direction: row;
}
.footer--format svg{
  width: 18px;
}
.info--detalle{
  padding-left: 5px;
}
.info__direccion, .info__telefono, .info__redes{
  color: #ccc;
}
.info__email a{
  color: #ccc;
  text-decoration:none;
}
.redes__sociales{
  display: flex;
  flex-direction: row;
}
svg.footer__icons{
  width: 26px;
  height: auto;
  padding-left: 10px;
  fill: #ccc;
}
svg.footer__icons:hover{
  fill:black;
}
.content__secundary{
  background-color: #011d56;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.footer__copyright p, .footer__developer p{
  padding: 5px 15px;
  margin: 0 50px;
  color: white;
  font-size: 11px;
}
.footer__developer a{
  font-size: 11px;
  text-decoration: none;
  color: rgb(33, 150, 243);
}
.footer__developer a:hover{
  color: rgb(76, 175, 80);
}


@media screen and (max-width:800px) {
  .footer__content{
    flex-flow: column;
    justify-content: center;
  }
  .content__main{
    justify-content: flex-start;
    align-content: center;
  }
  .footer--format{
    display: flex;
    flex-direction: row;
    width: auto;
  }
  .content__secundary{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .footer__copyright p, .footer__developer p{
    text-align: center;
    margin: 0 auto;
      font-size: 10px;
    padding: 5px 25px;
  }
}
