.content_body{
  width: 80vw;
  height: 50vh;
  background-color: #d0cece;
  margin: 50px auto;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
}
.form-status-ok p, .form-status-error p{
  text-align: center;
}
