/*CSS para el <section> index-content*/

/*slideshow*/
.body__slideshow{
  position: relative;
  display: block;
  overflow: hidden;
  z-index: 1090;
}
.slideshow__indicators{
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 5px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.indicators{
  height: 9px;
  width: 9px;
  border-radius: 50%;
  border: 1px solid white;
  z-index: 1000;
  margin: 0 3px;
  cursor: pointer;
}
.slideshow__selectors{
  position: absolute;
  width: 100%;
  top: 45%;
  font-size: 30px;
  display: flex;
  justify-content: space-between;
}
.selectors{
  height: 50px;
  width: 30px;
  color: white;
  cursor: pointer;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.left{border-radius: 0 5px 5px 0;}
.right{border-radius: 5px 0 0 5px;}

.slideshow__slides{
  position: relative;
  width: 100%;
}
.slideshow__slides img{
  width: 100%;
  max-height: 400px;
}
.selectors:hover{
  background-color: rgb(31, 31, 31);
}
.active, .indicators:hover {
  background-color: #ffffff;
}
/***************************************/

/*resto del contenido*/
.body__content{
  background-color: #ffffff;
  display: flex;
  flex-flow: column;
  margin-left: auto;
  margin-right: auto;
  /*overflow: hidden; */
  box-shadow: 0 4px 5px 0 rgba(0,0,0,0.75);
  z-index: 1070
}
/***************************************/

/*links de empresa*/
.body__links{
  position: relative;
  width: 100%;
  box-shadow: 0 4px 5px 0 rgba(0,0,0,0.75);;
  z-index: 1080;
}
.links__nuestros{
  max-width: 1170px;
  margin: 6vh auto;
  display: flex;
  justify-content: space-between;
}
.nuestra__empresa, .nuestros__productos{
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 450px;
  width: auto;
  margin: 10px 25px;
}
.nuestra__empresa img, .nuestros__productos img{
  max-width: 100%;
}
.nuestra__empresa figcaption, .nuestros__productos figcaption{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1em;
  padding: 10px 0;
  color: white;
  background-color: rgb(0, 51, 153);
  background-color: rgba(0, 51, 153, 0.85);
  font-size: 25px;
  font-weight: bold;
  line-height: 1em;
  text-align: center;
  text-transform: capitalize;
  transition: height .5s;
  overflow: hidden;
}
.nuestra__empresa:hover figcaption, .nuestros__productos:hover figcaption{
  height: 150px;
}
.nota{
  padding: 15px;
  text-transform: none;
}

/***************************************/

/*links de marcas*/
.body__marcas{
  position: relative;
  max-width: 100%;
  box-shadow: 0 4px 5px 0 rgba(0,0,0,0.75);
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
}
.marcas__moto{
  max-width: 1170px;
  padding:10px 0 10px 0;
  color: #003399;
}
.marcas__todas {
  max-width: 1170px;
  padding:10px 0 30px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: baseline;
}
.marcas__rottis, .marcas__baruk, .marcas__nauj, .marcas__costero{
  max-width: 450px;
  width: auto;
  margin:10px 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.marcas__rottis img, .marcas__nauj img, .marcas__costero img{
  max-width: 225px;
  height: auto;
  margin: 0 auto 20px auto;
}
.marcas__baruk img{
  max-width: 150px;
  height: auto;
  margin: 0 auto 20px auto;
}
/***************************************/

/*seccion de novedades*/
.body__novedades{
  position: relative;
  width: 100%;
  box-shadow: 0 4px 5px 0 rgba(0,0,0,0.75);
  z-index: 1100;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
}
.novedades__tittle{
  max-width: 1170px;
  padding:10px 0;
  color: #003399;
}
.novedades__banners{
  max-width: 1170px;
  padding:5px 0 25px 0;
  display: flex;
  justify-content: space-around;
}
.banners__1, .banners__2, .banners__3{
  position: relative;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}
.banner--size img{
  max-width: 85%;
  height: auto;
}
/***************************************/


/*MOBILE STYLE*/
@media screen and (max-width:800px) {
  .indicators{display: none;}
  .slideshow__selectors{display: none;}
  .links__nuestros{    flex-flow: column;    justify-content: center;    align-items: center;    margin: 3vh auto;  }
  .nuestra__empresa figcaption, .nuestros__productos figcaption{    font-size: 17px;  }
  .nota{    padding: 11px;  }
  .novedades__banners{    flex-flow: column;    justify-content: center;    align-items: center;  }
  .banners__1, .banners__2, .banners__3{    margin: 10px;  }
}
/***************************************/
