/*CSS para el <section> marcas__content*/

.sin--transform{  text-transform: none;}
.align--right{  text-align: right;}
.align--left{  text-align: left; }
.padding--between{  padding: 0 20px;}
.full--width{  max-width: 100vw;}
.no--padding{  padding: 0;}
.color--blanco{  color:#ffffff;}
.no--justify{  text-align: center;}

section{
  margin: 0 auto;
  padding: 70px 0 0 0;
  max-width: 90vw;
}
.banner{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row;
      flex-flow: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #003399;
  background-image: url("{{site.baseurl}}/assets/img/xlogo_cortado.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.marcas__info{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.info__logo{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.info__parrafo{
  margin-left: 40px
}
.marcas__productos{
  margin: 0 auto 50px auto;
}
.grid--flex{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
}
.grid--row{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;
}
.productos{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column;
      flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  text-align: center;
  font-size: 16px;
}
.productos a{
  font-weight: bold;
  text-decoration: none;
  color: #003399;
}
.productos a:hover{
  text-decoration: underline;
  color: #001233;
}
.productos__items{
  width: 250px;
  height: 250px;      /* equals max image height */
  text-align: center;
  margin: 10px;
  border: 1px solid #ccc;
}
.helper{
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.productos__items img{
  vertical-align: middle;
  max-width: 90%;
  max-height: 250px;
  transition: all .3s ease;
}
.productos__items:hover img{
  -webkit-transform:translateZ(0) scale(1.15); /* Safari and Chrome */ /* Firefox */ /* IE 9 */ /* Opera */
  transform:translatZ(0) scale(1.15);
}

/*Modals*/
.w3-modal{
  z-index:11100;
  display:none;
  padding-top: 350px;
  position:fixed;
  left:50%;
  top:60%;
  width:100%;
  height:100%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  overflow:auto;
  background-color:rgb(0,0,0);
  background-color:rgba(0,0,0,0.4)
}
.w3-modal-content{
  margin: auto;
  background-color:#fff;
  position:relative;
  padding:0;
  outline:0;
  width:650px
}
.w3-animate-zoom {
  -webkit-animation:animatezoom 0.6s;
  animation:animatezoom 0.6s
}
@-webkit-keyframes animatezoom{
  from{-webkit-transform:scale(0)}
  to{-webkit-transform:scale(1)}
}
@keyframes animatezoom{
  from{-webkit-transform:scale(0);transform:scale(0)}
  to{-webkit-transform:scale(1);transform:scale(1)}
}

/*Modals Style*/
.modals__header{
  background-color: #003399;
}
.modals__body{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row;
      flex-flow: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding:0.01em 16px
}
.modals__body__image{
    width: 200px;
    height: 200px;
}
.modals__body img{
  display: block;
  margin:auto;
  width: 95%;
  height: auto;
}
.modals__body__info{
  padding: 25px;
}
.modals__body__info span{
  font-size: 18px;
  font-weight: bold;
}
