/*Modals*/
.color--blanco{  color:#ffffff; font-weight:bold;}
.w3-modal{
  z-index:11100;
  display:none;
  padding-top: 350px;
  position:fixed;
  left:50%;
  top:35%;
  width:100%;
  height:100%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  overflow:auto;
  background-color:rgb(0,0,0);
  background-color:rgba(0,0,0,0.4)
}
.w3-modal-content{
  margin: auto;
  background-color:#fff;
  position:relative;
  padding:0;
  outline:0;
  width:700px
}
.w3-animate-zoom {
  -webkit-animation:animatezoom 0.6s;
  animation:animatezoom 0.6s
}
@-webkit-keyframes animatezoom{
  from{-webkit-transform:scale(0)}
  to{-webkit-transform:scale(1)}
}
@keyframes animatezoom{
  from{-webkit-transform:scale(0);transform:scale(0)}
  to{-webkit-transform:scale(1);transform:scale(1)}
}

/*Modals Style*/
.modals__header{
  background-color: #003399;
}
.modals__body{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row;
      flex-flow: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding:0.01em 16px
}
.modals__body__image img{
    width: 300px;
    height: auto;
}
.modals__body__info{
  padding: 25px;
}
.modals__body__info span{
  font-size: 18px;
  font-weight: bold;
}

/*datos nutricionales*/
.w3-modal-content2{
  position:relative;
  margin: 0 auto;
  padding:0;
  outline:0;
  width:75%;
}
.datosnuts{
  display: block;
  text-align: center;
  margin: 0 auto;
}
.datosnuts img{
  margin: 0 auto;

  height: 75vh;
}

@media screen and (max-width:550px) {
  .w3-modal{
    padding-top: 250px;
    position:fixed;
    left:50%;
    top:35%;
  }
  /*.w3-modal{  }*/
  .w3-modal-content{
    width: 90vw;
  }
  .modals__body{
    -ms-flex-flow: column;
        flex-flow: column;
    font-size: 14px ;
  }
  .modals__body__info{
    padding: 10px;
  }
  .modals__body__image img{
      width: 200px;
      height: auto;
  }

  /*datos nutricionales MOBILE*/
  .w3-modal-content2{
    width:100%;
    margin: 10% auto;
  }
  .datosnuts{
    display: block;
    text-align: center;
    margin: 0 auto;
  }
  .datosnuts img{
    margin: 0 auto;
    width: 75vw;
  }
}
