/*CSS para el <section> nosotros__content*/

.nosotros__content{
  position: relative;
  width: 100%;
  height: auto;
  box-shadow: 0 4px 5px 0 rgba(0,0,0,0.75);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack:center;
      -ms-flex-pack:center;
          justify-content:center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1090;
}
.body__banner img{
  width: 100vw;
}
.body__historia{
  width: 100%;
  background-color: white;
}
.historia__empresa{
  max-width: 1300px;
  margin: 60px auto;
  padding: 0 10px;
}

/*PRINCIPIOS*/
.body__principios{
  width: 100%;
  background-color: white;
}
.principios__todos{
  max-width: 1300px;
  margin: 60px auto;
  padding: 0 10px;
}
.principios__toditos{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.principios__lemas{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  align-items: baseline;
  flex-wrap: wrap;
}
.lemas__vision, .lemas__mision, .lemas__valores {
  width: 225px;
  margin: 20px 25px;
}
.principios__img {
  align-self: center;
  overflow: hidden;
  width: 600px;
  height: auto;
  margin: 10px;
}
.principios__img img{
  width: 100%;
  height: 100%;
}

/*CLIENTES*/
.body__clientes{
  width: 100%;
  background-color: white;
}
.clientes__todos{
  max-width: 1300px;
  margin: 60px auto;
  padding: 0 10px;
}
.clientes__cuadros{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.cuadros__pics{
  width: 250px;
}
.cuadros__pics a img{
  width: 250px;
  margin: 25px 10px;
  border-radius:50%;
  border-bottom: 3px solid #003399;
}
hr {
  max-width: 1300px;
  margin: 20px auto 20px auto;
  padding: 0 10px;
  width: 100%;
  border: 1px solid #003399;
}

@media screen and (max-width:1010px){
  .principios__toditos{
    display: flex;
    flex-direction: column;
  }
  .principios__img{
    width: 75%;
    height: auto;
  }
  .principios__img img{
    width: 100%;
    height: auto;
    /*transform: translate(0);*/
  }
}
