/*CSS para el <section> productos__content*/

.productos__content{
  position: relative;
  width: 100%;
  height: auto;
  box-shadow: 0 4px 5px 0 rgba(0,0,0,0.75);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack:center;
      -ms-flex-pack:center;
          justify-content:center;
  z-index: 1090;
}
.body__banner h1{
  color:#ffffff;
}
.body__banner{
  position: relative;
  width: 100%;
  background-color: #003399;
  background-image: url("{{site.baseurl}}/assets/img/xlogo_cortado.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.body__tab{
  margin: 35px 0;
  border-bottom: 1px solid #ccc;
}
ul.body__tablinks{
  list-style-type: none;
  max-width: 1170px;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  background-color: #ffffff;
}
ul.body__tablinks li{
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  float: left;
  margin-right: 1px;
}
ul.body__tablinks li a{
  display: inline-block;
  color: #ccc;
  border-top-right-radius: 14px;
  border-top-left-radius: 14px;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  padding: 5px 15px;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
ul.body__tablinks li a:hover{
  background-color: #003399;
  color: #fff;
}
ul.body__tablinks li a:focus, .active{
  background-color: #003399;
  color: #ffffff;
}
.tablinks__grid{
  display: none;
  max-width: 1170px;
  margin: 0 auto 50px auto;
  -webkit-animation: fadeEffect 1s;
          animation: fadeEffect 1s;
}
@-webkit-keyframes fadeEffect {
  from {opacity: 0.3;}
  to {opacity: 1;}
}
@keyframes fadeEffect {
  from {opacity: 0.3;}
  to {opacity: 1;}
}
.grid--flex{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
}
/*.categorias__item{
  display: block;
  margin: 10px;
  width: 250px;
  height: 250px;
  background-color: red;
  background-image: url("../img/novedades1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}*/

/*CSS marcas*/
.marcas__content{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
}
.marcas__content a{
  text-decoration: none;
  color: #003399;
}
.marcas__content a:hover{
  text-decoration: underline;
  color: #001233;
}
.marcas__item{
  width: 250px;
  height: 250px;      /* equals max image height */
  border: 1px solid #ccc;
  text-align: center;
  margin: 20px;
}
.helper{
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.marcas__item img{
  vertical-align: middle;
  max-width: 90%;
  max-height: 250px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}
.baruk__logo img{
  max-width: 70%;
  max-height: 200px;
}
.marcas__item:hover img{
  -webkit-transform:translateZ(0) scale(1.15); /* Safari and Chrome */ /* Firefox */ /* IE 9 */ /* Opera */
  transform:translatZ(0) scale(1.15);
}

/*CSS Productos*/
.productos{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 10px;
  width: 250px;
  /*height: 250px;*/
  /*text-transform: uppercase;*/
  text-align: center;
  font-size: 16px;
}
.productos a{
  font-weight: bold;
  text-decoration: none;
  color: #003399;
}
.productos a:hover{
  text-decoration: underline;
  color: #001233;
}
.productos__items{
  width: 250px;
  height: 250px;      /* equals max image height */
  text-align: center;
  margin: 10px;
  border: 1px solid #ccc;
}
.productos__items img{
  vertical-align: middle;
  max-width: 90%;
  max-height: 250px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}
.productos__items:hover img{
  -webkit-transform:translateZ(0) scale(1.15); /* Safari and Chrome */ /* Firefox */ /* IE 9 */ /* Opera */
  transform:translatZ(0) scale(1.15);
}

/*Modals*/
.color--blanco{  color:#ffffff; font-weight:bold;}

.w3-modal{
  z-index:11100;
  display:none;
  padding-top: 350px;
  position:fixed;
  left:50%;
  top:35%;
  width:100%;
  height:100%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  overflow:auto;
  background-color:rgb(0,0,0);
  background-color:rgba(0,0,0,0.4)
}
.w3-modal-content{
  margin: auto;
  background-color:#fff;
  position:relative;
  padding:0;
  outline:0;
  width:650px
}
.w3-animate-zoom {
  -webkit-animation:animatezoom 0.6s;
  animation:animatezoom 0.6s
}
@-webkit-keyframes animatezoom{
  from{-webkit-transform:scale(0)}
  to{-webkit-transform:scale(1)}
}
@keyframes animatezoom{
  from{-webkit-transform:scale(0);transform:scale(0)}
  to{-webkit-transform:scale(1);transform:scale(1)}
}
