---
permalink: /pages/contacto
---

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" lang="es">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Contacto - Jemazar</title>

    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/contacto.css" media="screen" title="no title">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito:300,600" rel="stylesheet">

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyClsVI64ZLLAYdPdhA7BMK4L9-sT6uWeXI"  defer></script>
    <script type="text/javascript" src="{{site.baseurl}}/assets/js/maps-todos.js" defer></script>
    <script type="text/javascript" src="{{site.baseurl}}/assets/js/tabs-maps.js" defer></script>
  </head>

  <body id="nav__contacto">

    <!-- Importanto el Header -->
    {% include html/header.html %}

    <!-- Importando el contenido de productos -->
    {% include html/contacto-content.html %}

    <!-- importando el footer -->
    {% include html/footer.html %}

  </body>
</html>
