---
permalink: /pages/contacto
---

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" lang="es">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Contacto - Jemazar</title>
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/contacto.css" media="screen" title="no title">
    <script src="{{site.baseurl}}/assets/js/maps.js" defer></script>
  </head>

  <body>

    <!-- Importanto el Header -->
    {% include html/header.html %}

    <!-- Importando el contenido de productos -->
    {% include html/contacto-content.html %}

    <!-- importando el footer -->
    {% include html/footer.html %}

  </body>
</html>
