---
permalink: /pages/productos
---

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" lang="es">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Productos - Jemazar</title>
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/productos.css" media="screen" title="no title">
    <script src="{{site.baseurl}}/assets/js/tabs.js" defer></script>
  </head>

  <body>

    <!-- Importanto el Header -->
    {% include html/header.html %}

    <!-- Importando el contenido de productos -->
    {% include html/productos-content.html %}

    <!-- importando el footer -->
    {% include html/footer.html %}

  </body>
</html>
