<!-- banner -->
<section class="banner full--width no--padding">
  <div>
    <h1 class="color--blanco">Quesos Baruk</h1>
  </div>
</section>

<section class="marcas__info">
  <div class="info__logo baruk__logo">
    <img src="{{site.baseurl}}/assets/img/layer2.png" alt=""/>
  </div>
  <div class="info__parrafo">
    <p>
      La línea Baruk está compuesta por nuestros quesos Mozzarella y
      Danés. El Mozzarella viene en una presentación en barra de 5lbs
      ideal para ser utilizado en pizzas, lasañas, etc. Nuestro queso
      Danés se puede disfrutar en sándwiches y cortado en cubos para
      degustar en picaderas, al igual que el queso Mozzarella este
      viene una presentación de 5 lbs.
    </p>
  </div>
</section>

<section class="marcas__productos">
  <h3 class="align--left">Listado de productos:</h3>
  <hr>

  <div class="grid--row">
    <!-- baruk01 -->
    <div class="productos">
      <a href="javascript:void(0)" onclick="document.getElementById('baruk01').style.display='block'">
        <div class="productos__items">
          <span class="helper"></span><img src="{{site.baseurl}}/assets/img/productshot/02pshotbarukdanes.png" alt="" />
        </div>
      </a>
      <span>Queso Danés</span>
      <a href="javascript:void(0)" onclick="document.getElementById('dn-baruk01').style.display='block'"><span>Datos nutricionales ></span></a>
    </div>
    <!-- baruk02 -->
    <div class="productos">
      <a href="javascript:void(0)" onclick="document.getElementById('baruk02').style.display='block'">
        <div class="productos__items">
          <span class="helper"></span><img src="{{site.baseurl}}/assets/img/productshot/03pshotbarukmozzarella.png" alt="" />
        </div>
      </a>
      <span>Queso Mozzarella</span>
      <a href="javascript:void(0)" onclick="document.getElementById('dn-baruk02').style.display='block'"><span>Datos nutricionales ></span></a>
    </div>

  </div>
</section>
