<!-- banner -->
<section class="banner full--width no--padding">
  <div>
    <h1 class="color--blanco">Quesos Costero</h1>
  </div>
</section>

<section class="marcas__info">
  <div class="info__logo">
    <img src="{{site.baseurl}}/assets/img/layer4.png" alt=""/>
  </div>
  <div class="info__parrafo">
    <p>
      Nuestra línea de quesos Costero está compuesta por los deliciosos
      quesos de freír Blanco y amarillo, con excelente sabor y
      textura. Los cuales suelen ser disfrutados por los dominicanos
      en desayunos y cenas. Dentro de esta línea también se encuentra
      el queso Costero tipo holandés que se caracteriza por su sabor
      intenso y a la vez de un aroma suave.
    </p>
  </div>
</section>

<section class="marcas__productos">
  <h3 class="align--left">Listado de productos:</h3>
  <hr>

  <div class="grid--row">
    <!-- Queso Tipo Hoilandes -->
    <div class="grid--row">
      <div class="grid__productos grid--flex">
        <div class="productos">
          <a href="javascript:void(0)" onclick="document.getElementById('costero01').style.display='block'">
            <div class="productos__items">
              <span class="helper"></span><img src="{{site.baseurl}}/assets/img/08pshotcosteroholandes.png" alt="" />
            </div>
          </a>
          <span>Queso Tipo Holandés</span>
          <a href="javascript:void(0)" onclick="document.getElementById('costero01').style.display='block'"><span>MÁS INFO ></span></a>
        </div>
      </div>
    </div>

    <!-- Queso Amarillo de Freir  -->
    <div class="grid--row">
      <div class="grid__productos grid--flex">
        <div class="productos">
          <a href="javascript:void(0)" onclick="document.getElementById('costero02').style.display='block'">
            <div class="productos__items">
              <span class="helper"></span><img src="{{site.baseurl}}/assets/img/09pshotcosteroamarillofreír.png" alt="" />
            </div>
          </a>
          <span>Queso Amarillo de Freír</span>
          <a href="javascript:void(0)" onclick="document.getElementById('costero02').style.display='block'"><span>MÁS INFO ></span></a>
        </div>
      </div>
    </div>

    <!-- Queso Blanco de Freir  -->
    <div class="grid--row">
      <div class="grid__productos grid--flex">
        <div class="productos">
          <a href="javascript:void(0)" onclick="document.getElementById('costero03').style.display='block'">
            <div class="productos__items">
              <span class="helper"></span><img src="{{site.baseurl}}/assets/img/10pshotcosteroblancofreir.png" alt="" />
            </div>
          </a>
          <span>Queso Blanco de Freír</span>
          <a href="javascript:void(0)" onclick="document.getElementById('costero02').style.display='block'"><span>MÁS INFO ></span></a>
        </div>
      </div>
    </div>

  </div>
</section>
