<!-- banner -->
<section class="banner full--width no--padding">
  <div>
    <h1 class="color--blanco">Quesos Baruk</h1>
  </div>
</section>

<section class="marcas__info">
  <div class="info__logo">
    <img src="{{site.baseurl}}/assets/img/layer3.png" alt=""/>
  </div>
  <div class="info__parrafo">
    <p>
      Los quesos Nauj se caracterizan por ser nuestra línea con mayor
      calidad, la cual se produce con un nivel adecuado de sal, de
      100% leche de vaca. Dentro de esta línea podemos encontrar los
      quesos para freír tanto el Blanco como el Amarillo, los cuales
      se pueden freír sin ningún tipo de aceite, ya que no se adhieren
      ni se derriten en la sartén. También dentro de esta línea pueden
      encontrar nuestro delicioso queso de hoja, el cual no contiene
      suero de leche y al igual que los quesos de freír está empacado
      al vacío.
    </p>
  </div>
</section>

<section class="marcas__productos">
  <h3 class="align--left">Listado de productos:</h3>
  <hr>

  <div class="grid--row">
    <!-- nauj01 -->
    <div class="productos">
      <a href="javascript:void(0)" onclick="document.getElementById('nauj01').style.display='block'">
        <div class="productos__items">
          <span class="helper"></span><img src="{{site.baseurl}}/assets/img/productshot/04pshotnaujcheddar.png" alt="" />
        </div>
      </a>
      <span class="strong--big">Nauj: Queso Cheddar</span>
      <a href="javascript:void(0)" onclick="document.getElementById('dn-nauj01').style.display='block'"><span class="button2">Datos nutricionales ></span></a>
    </div>
    <!-- nauj02 -->
    <div class="productos">
      <a href="javascript:void(0)" onclick="document.getElementById('nauj02').style.display='block'">
        <div class="productos__items">
          <span class="helper"></span><img src="{{site.baseurl}}/assets/img/productshot/05pshotnaujquesohoja.png" alt="" />
        </div>
      </a>
      <span class="strong--big">Nauj: Queso de Hoja</span>
      <a href="javascript:void(0)" onclick="document.getElementById('dn-nauj02').style.display='block'"><span class="button2">Datos nutricionales ></span></a>
    </div>
    <!-- nauj03 -->
    <div class="productos">
      <a href="javascript:void(0)" onclick="document.getElementById('nauj03').style.display='block'">
        <div class="productos__items">
          <span class="helper"></span><img src="{{site.baseurl}}/assets/img/productshot/06pshotnaujamarillofreir.png" alt="" />
        </div>
      </a>
      <span class="strong--big">Nauj: Queso Amarillo de Freír</span>
      <a href="javascript:void(0)" onclick="document.getElementById('dn-nauj03').style.display='block'"><span class="button2">Datos nutricionales ></span></a>
    </div>
    <!-- nauj04 -->
    <div class="productos">
      <a href="javascript:void(0)" onclick="document.getElementById('nauj04').style.display='block'">
        <div class="productos__items">
          <span class="helper"></span><img src="{{site.baseurl}}/assets/img/productshot/07pshotnaujblancofreir.png" alt="" />
        </div>
      </a>
      <span class="strong--big">Nauj: Queso Blanco de Freír</span>
      <a href="javascript:void(0)" onclick="document.getElementById('dn-nauj04').style.display='block'"><span class="button2">Datos nutricionales ></span></a>
    </div>

  </div>
</section>
