<!-- banner -->
<section class="banner full--width no--padding">
  <div>
    <h1 class="color--blanco">Quesos Baruk</h1>
  </div>
</section>

<section class="marcas__info">
  <div class="info__logo">
    <img src="{{site.baseurl}}/assets/img/layer3.png" alt=""/>
  </div>
  <div class="info__parrafo">
    <p>
      Enim officia Lorem Lorem officia deserunt occaecat ut tempor sunt deserunt duis amet fugiat. Elit non minim quis magna anim aliquip velit. Deserunt incididunt esse sint fugiat cupidatat adipisicing consectetur. Sint dolor nisi anim sit nisi nostrud ea quis est ut ullamco sunt. Et anim ipsum non eu cupidatat ut amet officia labore. Eu fugiat deserunt do cillum ipsum enim ullamco irure eiusmod dolore veniam aliquip.
    </p>
  </div>
</section>

<section class="marcas__productos">
  <h3 class="align--left">Listado de productos:</h3>
  <hr>

  <div class="grid--row">
    <!--Nauj - Queso Cheddar -->
    <div class="productos">
      <a href="javascript:void(0)" onclick="document.getElementById('nauj01').style.display='block'">
        <div class="productos__items">
          <span class="helper"></span><img src="{{site.baseurl}}/assets/img/04pshotnaujcheddar.png" alt="" />
        </div>
      </a>
      <span>Queso Danés</span>
      <a href="javascript:void(0)" onclick="document.getElementById('nauj01').style.display='block'"><span>MÁS INFO ></span></a>
    </div>

    <!--Nauj - Queso de Hoja -->
    <div class="productos">
      <a href="javascript:void(0)" onclick="document.getElementById('nauj02').style.display='block'">
        <div class="productos__items">
          <span class="helper"></span><img src="{{site.baseurl}}/assets/img/05pshotnaujquesohoja.png" alt="" />
        </div>
      </a>
      <span>Queso Mozzarella</span>
      <a href="javascript:void(0)" onclick="document.getElementById('nauj02').style.display='block'"><span>MÁS INFO ></span></a>
    </div>

    <!--Nauj - Queso Amarillo de Freir -->
    <div class="productos">
      <a href="javascript:void(0)" onclick="document.getElementById('nauj03').style.display='block'">
        <div class="productos__items">
          <span class="helper"></span><img src="{{site.baseurl}}/assets/img/06pshotnaujamarillofreir.png" alt="" />
        </div>
      </a>
      <span>Queso Mozzarella</span>
      <a href="javascript:void(0)" onclick="document.getElementById('nauj03').style.display='block'"><span>MÁS INFO ></span></a>
    </div>

    <!--Nauj - Queso Blanco de Freir -->
    <div class="productos">
      <a href="javascript:void(0)" onclick="document.getElementById('nauj04').style.display='block'">
        <div class="productos__items">
          <span class="helper"></span><img src="{{site.baseurl}}/assets/img/07pshotnaujblancofreir.png" alt="" />
        </div>
      </a>
      <span>Queso Mozzarella</span>
      <a href="javascript:void(0)" onclick="document.getElementById('nauj04').style.display='block'"><span>MÁS INFO ></span></a>
    </div>

  </div>
</section>
