<!-- banner -->
<section class="banner full--width no--padding">
  <div>
    <h1 class="color--blanco">Línea Rottís</h1>
  </div>
</section>

<section class="marcas__info">
  <div class="info__logo">
    <img src="{{site.baseurl}}/assets/img/layer1.png" alt=""/>
  </div>
  <div class="info__parrafo">
    <p>
      Nuestro Queso Rottís tipo holandés, es el reflejo de la tradición
      gastronómica dominicana, el cual se consume habitualmente en el
      desayuno  y en la cena pero de igual manera se le puede disfrutar
      en meriendas y picaderas. Está fabricado con leche pura de vaca,
      se caracteriza por tener un color amarillo anaranjado y suele
      tener agujeros en su interior. Es un queso semi-duro y de una
      maduración de unos 30 días.
    </p>
  </div>
</section>

<section class="marcas__productos">
  <h3 class="align--left">Listado de productos:</h3>
  <hr>

    <div class="grid--row">
      <!-- rottis01 -->
      <div class="productos">
        <span class="strong--big">Queso tipo Holandés</span>
        <a href="javascript:void(0)" onclick="document.getElementById('rottis01').style.display='block'">
          <div class="productos__items">
            <span class="helper"></span><img src="{{site.baseurl}}/assets/img/productshot/01pshotrottis.png" alt="" />
          </div>
        </a>
        <a href="javascript:void(0)" onclick="document.getElementById('dn-rottis01').style.display='block'"><span class="button2">Datos nutricionales ></span></a>
      </div>
    </div>

</section>
