<!-- banner -->
<section class="banner full--width no--padding">
  <div>
    <h1 class="color--blanco">Quesos Baruk</h1>
  </div>
</section>

<section class="marcas__info">
  <div class="info__logo">
    <img src="{{site.baseurl}}/assets/img/layer2.png" alt=""/>
  </div>
  <div class="info__parrafo">
    <p>
      Enim officia Lorem Lorem officia deserunt occaecat ut tempor sunt deserunt duis amet fugiat. Elit non minim quis magna anim aliquip velit. Deserunt incididunt esse sint fugiat cupidatat adipisicing consectetur. Sint dolor nisi anim sit nisi nostrud ea quis est ut ullamco sunt. Et anim ipsum non eu cupidatat ut amet officia labore. Eu fugiat deserunt do cillum ipsum enim ullamco irure eiusmod dolore veniam aliquip.
    </p>
  </div>
</section>

<section class="marcas__productos">
  <h3 class="align--left">Listado de productos:</h3>
  <hr>

  <div class="grid--row">
    <!--Baruk - Queso Danes -->
    <div class="grid__productos grid--flex">
      <div class="productos">
        <a href="#!" onclick="document.getElementById('baruk01').style.display='block'">
          <div class="productos__items">
            <img src="{{site.baseurl}}/assets/img/02pshotbarukdanes.png" alt="" />
          </div>
        </a>
        <span>Queso Danés</span>
        <a href="#!" onclick="document.getElementById('baruk01').style.display='block'"><span>MÁS INFO ></span></a>
      </div>
    </div>

    <!--Baruk - Queso Mozzarella -->
    <div class="grid__productos grid--flex">
      <div class="productos">
        <a href="#!" onclick="document.getElementById('baruk02').style.display='block'">
          <div class="productos__items">
            <img src="{{site.baseurl}}/assets/img/03pshotbarukmozzarella.png" alt="" />
          </div>
        </a>
        <span>Queso Mozzarella</span>
        <a href="#!" onclick="document.getElementById('baruk02').style.display='block'"><span>MÁS INFO ></span></a>
      </div>
    </div>
  </div>

</section>


<!-- Modal 01 -->
<div id="baruk01" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <div class="content__modals">
      <div class="modals__header">
        <h3 class="color--blanco">Queso Danés</h3>
      </div>
      <div class="modals__body">
        <div class="modals__body__image">
          <img src="{{site.baseurl}}/assets/img/02pshotbarukdanes.png" alt="" />
        </div>
        <div class="modals__body__info">
          <span>Características</span>
          <ul>
            <li>Queso de color Amarillo tenue semi-suave.</li>
            <li>De sabor intenso y aroma suave.</li>
            <li>Bajo en sal y suele tener pequeños agujeros de tamaños irregulares.</li>
          </ul>
          <span>Combinación</span>
          <ul>
            <li>Ideal para sandwiches y snacks.</li>
            <li>Con vino; Chardonnay, Sauvignon blanco o Pinot Noir.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal 02 -->
<div id="baruk02" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <div class="content__modals">
      <div class="modals__header">
        <h3 class="color--blanco">Queso Mozzarella</h3>
      </div>
      <div class="modals__body">
        <div class="modals__body__image">
          <img src="{{site.baseurl}}/assets/img/03pshotbarukmozzarella.png" alt="" />
        </div>
        <div class="modals__body__info">
          <span>Características</span>
          <ul>
            <li>Queso fibroso y parcialmente descremado.</li>
            <li>De consistencia elástica de casi color blanco.</li>
            <li>Bajo en sal y procesada a través del cuajo.</li>
          </ul>
          <span>Combinación</span>
          <ul>
            <li>Ideal para la elaboración de pizzas.</li>
            <li>Sándwiches, ensaladas bocadillos, burritos, entre otros.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
