<!-- <section class="banner full--width no--padding">
  <div>
    <h1>Gracias por su interés en Jemazar</h1>
  </div>
</section> -->

<section class="info">
  <h2 class="sin--transform align--left no--margin--top">Puedes contactarnos,</h2>
  <div class="info__informacion">
    <div class="info__contacto padding--between">
      <p class="no--justify"><strong>Vía telefónica</strong> al siguiente número:</p>
      <h3 class="no--margin">Tel. (809) 583-5424 <br></h3>
    </div>
    <div class="info__contacto padding--between">
      <p class="no--justify">En nuestras <strong>redes sociales</strong>:</p>
      <h3 class="no--margin"><a href="http://www.facebook.com/jemazar" target="_blank">Facebook</a><br></h3>
      <h3 class="no--margin"><a href="http://www.instagram.com/jemazar" target="_blank">Instagram</a><br></h3>
      <h3 class="no--margin"><a href="http://www.linkedin.com/jemazar" target="_blank">LinkedIn</a></h3>
    </div>
    <div class="info__contacto padding--between">
      <p class="no--justify">Nuestro <strong>horario laboral</strong> es:</p>
      <h3>Lunes a Viernes <br>8:00 am / 6:00 pm</h3>
      </div>
  </div>
</section>

<!-- <hr>

<section class="mapa">
  <div class="mapa__info">
    <h2 class="sin--transform align--left no--margin--top">¿Donde estamos ubicados?</h2>
    <p>
      El mapa siguiente muestra la ubicacion de nuestras oficinas y tambien los comercios donde puedes encontrar nuestros productos.
    </p>
  </div>

  <div class="mapa__map">
    <div class="mapa_canvas">
      <div id="map_canvas1" class="tablinks__grid"><h2>1</h2>  </div>
      <div id="map_canvas2" class="tablinks__grid"><h2>2</h2>  </div>
      <div id="map_canvas3" class="tablinks__grid"><h2>3</h2>  </div>
      <div id="map_canvas4" class="tablinks__grid"><h2>4</h2>  </div>
    </div>

    <div class="mapa__side">
      <div class="side__tabs">
        <div class="body__tab">
          <ul class="body__tablinks">
            <li><a href="javascript:void(0)" class="tablinks__tab" onclick="mapa1(); mapasJemazar(event, 'map_canvas1', 'side__bar1')" id="tab__todos">Todos</a></li>

            <li><a href="javascript:void(0)" class="tablinks__tab" onclick="mapa2(); mapasJemazar(event, 'map_canvas2', 'side__bar2')" id="tab__supermercados">Supermercados</a></li>

            <li><a href="javascript:void(0)" class="tablinks__tab" onclick="mapa3(); mapasJemazar(event, 'map_canvas3', 'side__bar3')" id="tab__restautantes">Restaurantes</a></li>

            <li><a href="javascript:void(0)" class="tablinks__tab" onclick="mapa4(); mapasJemazar(event, 'map_canvas4', 'side__bar4')" id="tab__hoteles">Hoteles</a></li>
          </ul>
        </div>
      </div>

      <div class="side__bars">
        <div class="side__bar" id="side__bar1"></div>
        <div class="side__bar" id="side__bar2"></div>
        <div class="side__bar" id="side__bar3"></div>
        <div class="side__bar" id="side__bar4"></div>
      </div>
    </div>
  </div>
</section>

<hr> -->

<section class="forma">
  <div class="forma__info">
    <h2 class="sin--transform align--left no--margin--top">¿En qué podemos ayudarle?</h2>
    <p>
      En Jemazar estamos para servirle. Utilice el siguiente formulario, para ponerse en contacto con nuestro equipo de servicio,
      una vez recibido su mensaje le estaremos contactando para ofrecerle respuesta a su solicitud, inquietud o pregunta.
    </p>
  </div>

  <div class="forma__wrapper">
    <div class="forma__contacto">
      <form class="form__contacto" id="form__contacto" action="https://docs.google.com/forms/d/e/1FAIpQLScRb_jYW2IcQVs6JWat-WWv_N13D0q8vMz_gsP2ws3aqlFMkg/formResponse" target="hidden_iframe" onsubmit="submitted=true;">

        <label for="nombre">Nombre*</label>
        <span class="form--control">
          <input name="entry.1561595182" id="entry.1561595182" type="text" placeholder="Jose Pérez" required="true">
        </span>

        <label for="e-mail">Email*</label>
        <span class="form--control">
          <input name="entry.1342992053" id="entry.1342992053" type="email" placeholder="jose.perez@ejemplo.com" required="true">
        </span>

        <label for="ciudad">Ciudad</label>
        <span class="form--control">
          <input name="entry.1022856779" id="entry.1022856779" type="text" placeholder="Santiago" required="false">
        </span>

        <label for="asunto">Asunto</label>
        <span class="form--control">
          <input name="entry.1914372494" id="entry.1914372494"type="text" placeholder="Hola Jemazar" required="false">
        </span>

        <label for="tema">Tema*</label>
        <span class="form--control">
          <select name="entry.620397526" id="entry.620397526" type="text" required="true">
            <option value="Solicitud de información">Solicitud de información</option>
            <option value="Sugerencias y/o Comentarios">Sugerencias y/o Comentarios</option>
            <option value="Servicio al cliente">Servicio al cliente</option>
          </select>
        </span>

        <label for="mensaje">Mensaje*</label><br>
        <span class="form--control">
          <textarea name="entry.1106944345" id="entry.1106944345" rows="8" cols="40" placeholder="Escribe tu mensaje aqui..." required="true"></textarea>
        </span>

        <div class="div--mid">
          <input type="submit" name="enviar" value="ENVIAR">
        </div>
      </form>

      <iframe name="hidden_iframe" id="hidden_iframe" style="display:none;"></iframe>
    </div>

    <!-- https://docs.google.com/forms/d/e/1FAIpQLScRb_jYW2IcQVs6JWat-WWv_N13D0q8vMz_gsP2ws3aqlFMkg/formResponse -->
    <!--
    entry.1561595182=pedro
    entry.1342992053=saddasd@asdf.com
    entry.1022856779=ciudad
    entry.1914372494=Asunto
    entry.620397526=tema
    entry.1106944345=mensaje
    -->

    <div class="forma__empleo">
      <h3>Solicitud de Empleo</h3>
      <p>Agradecemos el interés de pertenecer a nuestro equipo, envíanos tu CV.</p>
      <div class="div--mid">
        <a href="{{site.baseurl}}/pages/empleo.html">
          <button type="button" name="button">ENVIAR</button>
        </a>
      </div>
    </div>
  </div>










</section>
