<section class="banner full--width no--padding">
  <div>
    <h1 class="color--blanco">Gracias por su interés en Jemazar</h1>
  </div>
</section>

<section class="info">
  <h2 class="sin--transform align--left no--margin--top">Puedes contactarnos,</h2>
  <div class="info__informacion">
    <div class="info__contacto padding--between">
      <p class="no--justify"><strong>Vía telefónica</strong> a cualquiera de los siguientes telefonos:</p>
      <h3 class="no--margin">T: (809) 560-2220 <br></h3>
      <h3 class="no--margin">T: (829) 222-1230</h3></h3>
    </div>
    <div class="info__contacto padding--between">
      <p class="no--justify">En nuestras <strong>redes sociales</strong>:</p>
      <h3 class="no--margin"><a href="http://www.facebook.com/jemazar" target="_blank">Facebook</a><br></h3>
      <h3 class="no--margin"><a href="http://www.instagram.com/jemazar" target="_blank">Instagram</a><br></h3>
      <h3 class="no--margin"><a href="http://www.linkedin.com/jemazar" target="_blank">LinkedIn</a></h3>
    </div>
    <div class="info__contacto padding--between">
      <p class="no--justify">Nuestro <strong>horario laboral</strong> es:</p>
      <h3>Lunes a Viernes <br>8:00 am / 6:00 pm</h3>
      </div>
  </div>
</section>

<hr class="full--width">

<section class="mapa">
  <div class="mapa__info">
    <h2 class="sin--transform align--left no--margin--top">¿Donde estamos ubicados?</h2>
    <p>
      El mapa siguiente muestra la ubicacion de nuestras oficinas y tambien los comercios donde puedes encontrar nuestros productos.
    </p>
</div>
  <div class="mapa__map" id="map">
    <iframe src="https://www.google.com/maps/d/u/0/embed?mid=12g7jk5kI3SXClnvpk2oOXxvDYpI" ></iframe>
      <!-- <script src="https://maps.googleapis.com/maps/api/js?key= XXXXXXXXXX &callback=initMap" async defer>
      </script> -->
  </div>
</section>

<hr class="full--width">

<section class="forma">
  <div class="forma__info">
    <h2 class="sin--transform align--left no--margin--top">¿En qué podemos ayudarle?</h2>
    <p>
      En Jemazar estamos para servirle. Utilice el siguiente formulario, para ponerse en contacto con nuestro equipo de servicio,
      una vez recibido su mensaje le estaremos contactando para ofrecerle respuesta a su solicitud, inquietud o pregunta.
    </p>
  </div>
  <div class="forma__campos">
    <form class="form__contacto" action="index.html" method="post">
      <label for="nombre">Nombre*</label>
      <span class="form--control">
        <input id="nombre" type="text" name="nombre" placeholder="Jose Perez" required="true">
      </span>
      <label for="e-mail">Correo Electrónico*</label>
      <span class="form--control">
        <input id="e-mail" type="email" name="e-mail" placeholder="joseperez@gmail.com" required="true">
      </span>
      <label for="asunto">Aunto*</label>
      <span class="form--control">
        <input id="asunto"type="text" name="asunto" placeholder="Hola Jemazar" required="true">
      </span>
      <label for="mensaje">Mensaje</label><br>
      <span class="form--control">
        <textarea id="mensaje" name="mensaje" rows="8" cols="40" placeholder="Me gustaria...."></textarea>
      </span>
      <span class="buttom">
        <input type="button" name="enviar" value="ENVIAR">
      </span>
    </form>
  </div>
</section>
