<section class="banner full--width no--padding">
  <div>
    <h1 class="color--blanco">Gracias por su interés en Jemazar</h1>
  </div>
</section>

<!-- <section class="info">
  <div class="info__contacto padding--between">
    <p class="no--justify">Puedes contactarnos, <strong>via telefonica</strong> a cualquiera de los siguientes telefonos:</p>
    <h3>T: (809) 560-2220 <br>
    T: (829) 222-1230</h3>
  </div>

  <div class="info__contacto padding--between">
    <p class="no--justify">Laboramos en el siguiente <strong>horarios</strong>:</p>
    <h3 class="align--right">Lunes a Viernes - 8:00 AM / 6:00 PM<br>
      Sabados - 9:00 AM / 1:00 PM</h3>
  </div>

  <div class="info__contacto padding--between">
    <p class="no--justify">Tambien puedes visitar nuestras <strong>redes sociales</strong> para informacion adicional:</p>
    <h3>Facebook<br>
    Instagram<br>
    LinkedIn</h3>
  </div>
</section> -->

<!-- <section class="mapa">
  <div class="mapa__markers">
    <ul>
      <li><a href="#">super mercado 1</a></li>
      <li><a href="#">super mercado 2</a></li>
      <li><a href="#">super mercado 3</a></li>
      <li><a href="#">super mercado 4</a></li>
    </ul>
  </div>
  <div class="mapa__map" id="map">
      <script src="https://maps.googleapis.com/maps/api/js?key= XXXXXXXXXX &callback=initMap" async defer>
      </script>
  </div>
</section> -->

<section class="forma">
  <hr>
  <h2 class="sin--transform align--left">¿En qué podemos ayudarle?</h2>
  <p>
    En Jemazar estamos para servirle. Utilice el siguiente formulario, para ponerse en contacto con nuestro equipo de servicio,
    una vez recibido su mensaje le estaremos contactando para ofrecerle respuesta a su solicitud, inquietud o pregunta.
  </p>
  <div class="forma__campos">
    <form class="form__contacto" action="index.html" method="post">
      <span>Nombre*</span><br>
      <input type="text" name="nombre" placeholder="John" value="" required="true"><br>
      <!-- <span>Apellido: *</span><input type="text" name="Apellido" placeholder="Smith" value="" required="true"> -->
      <span>Correo Electrónico*</span><br>
      <input type="text" name="e-mail" placeholder="johnsmith@gmail.com" value=""><br>
      <span>Asunto</span><br>
      <input type="text" name="asunto" placeholder="Queridos Jemazar" value="" required="true"><br>
      <span>Mensaje*</span><br>
      <input type="text" name="contenido" placeholder="Quisiera saber ..." value=""><br>
    </form>
</div>

</section>
