<!--Base on the code Written by Amit Agarwal amit@labnol.org -->

<section class="banner full--width no--padding">
  <div>
    <h1 class="color--blanco">¿Quieres trabajar con nosotros?</h1>
  </div>
</section>

<section class="info">
  <h2 class="sin--transform align--left no--margin--top">Envianos tu curriculum vitae (CV),</h2>
  <p>
    Usando el siguiente formulario podras enviarnos tu <strong>curriculum vitae (CV)</strong>, no olvides completar con informacion real, de otra forma no podremos evaluarte.
  </p>
</section>
