<!--Base on the code Written by Amit Agarwal amit@labnol.org -->

<section class="banner full--width no--padding">
  <div>
    <h1 class="color--blanco">¿Quieres trabajar con nosotros?</h1>
  </div>
</section>

<section class="info">
  <h2 class="sin--transform align--left no--margin--top">Envianos tu curriculum vitae (CV),</h2>
  <p>
    Usando el siguiente formulario podras enviarnos tu <strong>curriculum vitae (CV)</strong>, no olvides completar con informacion real, de otra forma no podremos evaluarte.
  </p>

  <iframe src="https://script.google.com/macros/s/AKfycbynYjVsNaawuovQjEunxxFiFC2-ZAZ--B0CG_iI64rHEHrMpEE/exec" width="600px" height="500px"></iframe>



</section>
