<section class="header">
  <div class="header__logo">
    <a href="{{site.baseurl}}/index.html">
      {% include /icons/logo.html %}
    </a>
  </div>
</section>

<section class="banner">
  <span class="full--width"></span>
  <h1>¿Quieres trabajar con nosotros?</h1>
</section>

<section class="info">
  <h2 class="sin--transform align--left no--margin--top">Envianos tu curriculum vitae (CV),</h2>
  <p>
    Usando el siguiente formulario podras enviarnos tu <strong>curriculum vitae (CV)</strong>, no olvides completar con informacion real, de otra forma no podremos evaluarte.<br>
    El formulario solo permite enviar archivos PDF y el tamaño máximo es de 2 megabytes (MB).
  </p>
</section>

<section class="forma">
  <div class="forma__campos">
    <form class="form__empleo" method="POST" action="https://static-email.herokuapp.com/jemazar-empleo" enctype="multipart/form-data">
      <label for="name">Nombre*</label>
      <span>
        <input name="name" type="text" placeholder="Jose Pérez" required="true">
      </span>

      <label for="email">Email*</label>
      <span>
        <input name="email" type="email" placeholder="jose.perez@ejemplo.com" required="true">
      </span>

      <label for="afile">Archivo*</label><br>
      <span>
        <input name="afile" type="file" accept="application/pdf,.pdf " required="true">
      </span>

      <div class="g-recaptcha" data-sitekey="6LeW0hIUAAAAADCej2_UlXjqbLAd354s-X11oKRA"></div>

      <div class="div--mid">
        <input type="submit" name="enviar" value="ENVIAR">
      </div>
    </form>
  </div>
</section>
