<!-- seccion footer -->
<footer>

  <!-- contenido footer -->
  <div class="footer__content">

    <!-- copyright -->
    <div class="footer__copyright">
      <p>Copyright © 2016 - Jemazar. Todos los derechos reservados</p>
      <p class="duramente">Developed by <a href="www.duramente.com.do" target="_blank">Duramente Web Studio</a>
      </p>
    </div>

    <!-- redes sociales -->
    <div class="footer__redes">
      <div class="facebook" "social-links">
        <a href="http://www.facebook.com/jemazar" target="_blank">
          {% include /icons/facebook.html %}
        </a>
      </div>
      <div class="instagram" "social-links">
        <a href="http://www.instagram.com/jemazar" target="_blank">
          {% include /icons/instagram.html %}
        </a>
      </div>
      <div class="linkeid" "social-links">
        <a href="http://www.linkedin.com/jemazar" target="_blank">
          {% include /icons/linkedin.html %}
        </a>
      </div>

    </div>

  </div>
</footer>
