<section class="form_content">
  <div class="content_body">
    <div class="form-status-error">
      <h3>Ha ocurrido un error, no se pudo enviar el formulario.</h3>
    <span><br><b>Por favor, verifica los siguientes puntos:</b></span>
      <ul>
        <li>Debes verificar que no eres un robot.</li>
        <li>Debes llenar todos los campos requeridos.</li>
        <li>Los archivos solo pueden ser PDF.</li>
        <li>El tamaño máximo es de 2 megabytes (MB).</li>
      </ul>
    <span><b>Para volver atras haz click <a href="javascript:history.back()">aquí</a>.</b></span>

    </div>
  </div>
</section>
