<!-- seccion - header -->
<header>
  <!-- contenido barra -->
  <div class="header__barra">

  </div>

  <!-- contenido header -->
  <div class="header__content">
    <!-- logo -->
    <div class="header__logo">
      <a href="{{site.baseurl}}/index.html">
        {% include /icons/logo.html %}
      </a>
    </div>

    <!-- navbar -->
    <nav class="header__navbar">
      <a href="{{site.baseurl}}/index.html" id="nav__inicio">Inicio</a>
      <a href="{{site.baseurl}}/pages/nosotros.html" id="nav__nosotros">Nosotros</a>
      <a href="{{site.baseurl}}/pages/productos.html" id="nav__productos">Productos</a>
      <a href="{{site.baseurl}}/pages/contacto.html" id="nav__contacto">Contacto</a>
      <a href="javascript:void(0);" onclick="openNav()">&#9776;</a>
    </nav>

    <!-- Search Bar -->
    <!-- <div class="header__search">
      <script>
      (function() {
        var cx = '016335402370333474240:1vjowdojl-m';
        var gcse = document.createElement('script');
        gcse.type = 'text/javascript';
        gcse.async = true;
        gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(gcse, s);
      })();
      </script>
      <gcse:search></gcse:search>
    </div> -->
  </div>


  <!-- MOBILE OVERLAY -->
  <div id="myNav" class="overlay" onclick="closeNav()">
    <!-- Overlay content -->
    <div class="overlay-content">
      <a href="{{site.baseurl}}/index.html">Inicio</a>
      <a href="{{site.baseurl}}/pages/nosotros.html">Nosotros</a>
      <a href="{{site.baseurl}}/pages/productos.html">Productos</a>
      <a href="{{site.baseurl}}/pages/contacto.html">Contacto</a>
    </div>
    <span>PRESIONA EN CUALQUIER PARTE PARA SALIR</span>
  </div>

  <script>
  /* Open when someone clicks on the span element */
  function openNav() {
    document.getElementById("myNav").style.width = "100%";
  }
  /* Close when someone clicks on the "x" symbol inside the overlay */
  function closeNav() {
    document.getElementById("myNav").style.width = "0%";
  }
  </script>
</header>
