 <!-- seccion - header -->
<header>
  <!-- contenido header -->
  <div class="header__content">

    <!-- logo -->
    <div class="header__logo">
      <a href="/index.html">
        <img src="/assets/img/xlogo.png" alt="" />
      </a>
    </div>

    <!-- navbar -->
    <nav class="header__navbar">
      <a href="/index.html">Inicio</a>
      <span class="hr"></span>
      <a href="/pages/nosotros.html">Nosotros</a>
      <span class="hr"></span>
      <a href="/pages/productos.html">Productos</a>
      <span class="hr"></span>
      <a href="/pages/contacto.html">Contacto</a>
    </nav>

    <!-- language selector -->
    <div class="header__lang">
      <a href="../en/index.html">English</a>
      <!-- <span class="hr"></span> -->
      <!-- <a href="index.html">Español</a> -->
    </div>

  </div>
</header>
