<!-- seccion - contenido del index -->
<section class="index__content">

  <!-- slideshow -->
  <div class="body__slideshow">
    <div class="slideshow__indicators">
      <span class="indicators" onclick="currentSlide(1)"></span>
      <span class="indicators" onclick="currentSlide(2)"></span>
      <span class="indicators" onclick="currentSlide(3)"></span>
      <span class="indicators" onclick="currentSlide(4)"></span>
    </div>
    <div class="slideshow__selectors">
      <span class="selectors left" onclick="plusSlides(-1)">&#10094;</span>
      <span class="selectors right" onclick="plusSlides(+1)">&#10095;</span>
    </div>
    <div class="slideshow__slides">
      <img class="myslides" src="{{site.baseurl}}/assets/img/slides/slide1.jpg">
      <img class="myslides" src="{{site.baseurl}}/assets/img/slides/slide2.jpg">
      <img class="myslides" src="{{site.baseurl}}/assets/img/slides/slide3.jpg">
      <img class="myslides" src="{{site.baseurl}}/assets/img/slides/slide4.jpg">
    </div>
  </div>

  <!-- resto del contenido -->
  <div class="body__content">

    <!-- links de empresa     -->
    <div class="body__links">
      <div class="links__nuestros">
        <div class="nuestra__empresa">
          <img src="assets/img/nuestraempresa.jpg" alt="" />
          <a href="{{site.baseurl}}/pages/nosotros.html#historia">
            <figcaption>Nuestra Empresa
              <p class="nota">Somos una empresa 100% dominicana, con base en Santiago y dedicados a...<br><strong>Leer mas ></strong></p>
            </figcaption>
          </a>
        </div>

        <div class="nuestros__productos">
          <img src="assets/img/nuestroproductos.jpg" alt="" />
          <a href="{{site.baseurl}}/pages/productos.html">
            <figcaption>Nuestros Productos
              <p class="nota">Distribuimos una gran variedad de productos alimenticios, todos de alta calidad...<br><strong>Ver mas ></strong></p>
            </figcaption>
          </a>
        </div>
      </div>
    </div>


    <!-- links de marcas -->
    <div class="body__marcas">

      <!-- banner moto -->
      <div class="marcas__moto">
        <h1>Nuestras Marcas Son Reflejo de Calidad</h1>
      </div>

      <!-- marcas y texto -->
      <div class="marcas__todas">
        <div class="marcas__rottis">
          <img src="assets/img/layer1.png" alt="" />
          <p>Nuestro Queso Rottís tipo holandés, es el reflejo de la tradición
            gastronómica dominicana, el cual se consume habitualmente en el
            desayuno  y en la cena pero de igual manera se le puede disfrutar
            en meriendas y picaderas. Está fabricado con leche pura de vaca,
            se caracteriza por tener un color amarillo anaranjado y suele
            tener agujeros en su interior. Es un queso semi-duro y de una
            maduración de unos 30 días.
          </p>
        </div>
        <div class="marcas__baruk">
          <img src="assets/img/layer2.png" alt="" />
          <p>La línea Baruk está compuesta por nuestros quesos Mozzarella y
            Danés. El Mozzarella viene en una presentación en barra de 5lbs
            ideal para ser utilizado en pizzas, lasañas, etc. Nuestro queso
            Danés se puede disfrutar en sándwiches y cortado en cubos para
            degustar en picaderas, al igual que el queso Mozzarella este
            viene una presentación de 5 lbs.
          </p>
        </div>
        <div class="marcas__nauj">
          <img src="assets/img/layer3.png" alt="" />
          <p>Los quesos Nauj se caracterizan por ser nuestra línea con mayor
            calidad, la cual se produce con un nivel adecuado de sal, de
            100% leche de vaca. Dentro de esta línea podemos encontrar los
            quesos para freír tanto el Blanco como el Amarillo, los cuales
            se pueden freír sin ningún tipo de aceite, ya que no se adhieren
            ni se derriten en la sartén. También dentro de esta línea pueden
            encontrar nuestro delicioso queso de hoja, el cual no contiene
            suero de leche y al igual que los quesos de freír está empacado
            al vacío.
          </p>
        </div>
        <div class="marcas__costero">
          <img src="assets/img/layer4.png" alt="" />
          <p>Nuestra línea de quesos Costero está compuesta por los deliciosos
            quesos de freír Blanco y amarillo, con excelente sabor y
            textura. Los cuales suelen ser disfrutados por los dominicanos
            en desayunos y cenas. Dentro de esta línea también se encuentra
            el queso Costero tipo holandés que se caracteriza por su sabor
            intenso y a la vez de un aroma suave.
          </p>
        </div>
      </div>
    </div>

    <script type="text/javascript">
      var feed = new Instafeed({
        get: 'user',
        userId: '145268995',
        accessToken: '145268995.1677ed0.f6dde1d4e9eb421abb45f1af76b5976d',
      });
      feed.run();
    </script>

    <div class="instafeed" id="instafeed">   </div>

<!-- jemazar -->
<!-- 2290609227.1677ed0.268c649c5bc540fdab0b0e31c31694fe -->

<!-- test -->
<!-- 145268995.1677ed0.f6dde1d4e9eb421abb45f1af76b5976d -->


<!-- seccion de novedades -->
    <div class="body__novedades">
      <div class="novedades__tittle">
        <h1>Novedades</h1>
      </div>
      <div class="novedades__banners">
        <div class="banners__1 banner--size">
          <img src="assets/img/novedades1.png" alt="" />
        </div>
        <div class="banners__2 banner--size">
          <img src="assets/img/novedades2.png" alt="" />
        </div>
        <div class="banners__3 banner--size">
          <img src="assets/img/novedades3.png" alt="" />
        </div>
      </div>
    </div>
  </div>

</section>
