<!-- INFO PRODUCTOS -->

<!-- rottis01 -->
<div id="rottis01" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <div class="content__modals">
      <div class="modals__header">
        <h3 class="color--blanco">Queso Tipo Holandés</h3>
      </div>
      <div class="modals__body">
        <div class="modals__body__image">
          <img src="{{site.baseurl}}/assets/img/01pshotrottis.png" alt="" />
        </div>
        <div class="modals__body__info">
          <span>Características</span>
          <ul>
            <li>Queso de color amarillo tenue semi suave.</li>
            <li>De sabor intenso y aroma suave.</li>
            <li>Bajo en sal y suele tener pequeños agujeros de tamaños irregulares.</li>
          </ul>
          <span>Combinación</span>
          <ul>
            <li>Ideal pasa sándwiches y snacks.</li>
            <li>Vino: Merlot</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- baruk01 -->
<div id="baruk01" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <div class="content__modals">
      <div class="modals__header">
        <h3 class="color--blanco">Queso Danés</h3>
      </div>
      <div class="modals__body">
        <div class="modals__body__image">
          <img src="{{site.baseurl}}/assets/img/02pshotbarukdanes.png" alt="" />
        </div>
        <div class="modals__body__info">
          <span>Características</span>
          <ul>
            <li>Queso de color Amarillo tenue semi-suave.</li>
            <li>De sabor intenso y aroma suave.</li>
            <li>Bajo en sal y suele tener pequeños agujeros de tamaños irregulares.</li>
          </ul>
          <span>Combinación</span>
          <ul>
            <li>Ideal para sandwiches y snacks.</li>
            <li>Con vino; Chardonnay, Sauvignon blanco o Pinot Noir.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- baruk02 -->
<div id="baruk02" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <div class="content__modals">
      <div class="modals__header">
        <h3 class="color--blanco">Queso Mozzarella</h3>
      </div>
      <div class="modals__body">
        <div class="modals__body__image">
          <img src="{{site.baseurl}}/assets/img/03pshotbarukmozzarella.png" alt="" />
        </div>
        <div class="modals__body__info">
          <span>Características</span>
          <ul>
            <li>Queso fibroso y parcialmente descremado.</li>
            <li>De consistencia elástica de casi color blanco.</li>
            <li>Bajo en sal y procesada a través del cuajo.</li>
          </ul>
          <span>Combinación</span>
          <ul>
            <li>Ideal para la elaboración de pizzas.</li>
            <li>Sándwiches, ensaladas bocadillos, burritos, entre otros.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- nauj01 -->
<div id="nauj01" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <div class="content__modals">
      <div class="modals__header">
        <h3 class="color--blanco">Queso Cheddar</h3>
      </div>
      <div class="modals__body">
        <div class="modals__body__image">
          <img src="{{site.baseurl}}/assets/img/04pshotnaujcheddar.png" alt="" />
        </div>
        <div class="modals__body__info">
          <span>Características</span>
          <ul>
            <li>Queso semi-maduro de sabor suave a fuerte.</li>
            <li>De color naranja.</li>
            <li>Textura firme y bajo en sal.</li>
          </ul>
          <span>Combinación</span>
          <ul>
            <li>Ideal para elaborar sándwiches y hamburguesas.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- nauj02 -->
<div id="nauj02" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <div class="content__modals">
      <div class="modals__header">
        <h3 class="color--blanco">Queso de Hoja</h3>
      </div>
      <div class="modals__body">
        <div class="modals__body__image">
          <img src="{{site.baseurl}}/assets/img/05pshotnaujquesohoja.png" alt="" />
        </div>
        <div class="modals__body__info">
          <span>Características</span>
          <ul>
            <li>Queso de color blanco fibroso, descremado y bajo en sal.</li>
            <li>Tiene corteza semi dura e interior cremoso.</li>
            <li>Bajo en sal y procesada a través del cuajo.</li>
          </ul>
          <span>Combinación</span>
          <ul>
            <li>Ideal para el desayuno.</li>
            <li>Se puede utilizar en ensaladas de tomates y cualquier receta baja en grasa.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- nauj03 -->
<div id="nauj03" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <div class="content__modals">
      <div class="modals__header">
        <h3 class="color--blanco">Queso Amarillo de Freír</h3>
      </div>
      <div class="modals__body">
        <div class="modals__body__image">
          <img src="{{site.baseurl}}/assets/img/06pshotnaujamarillofreir.png" alt="" />
        </div>
        <div class="modals__body__info">
          <span>Características</span>
          <ul>
            <li>Queso fresco de color amarillo y de consistencia firme y compacta.</li>
            <li>De buen sabor y buena textura.</li>
            <li>Bajo en sal.</li>
          </ul>
          <span>Combinación</span>
          <ul>
            <li>Ideal para el desayuno.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- nauj04 -->
<div id="nauj04" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <div class="content__modals">
      <div class="modals__header">
        <h3 class="color--blanco">Queso Blanco de Freír</h3>
      </div>
      <div class="modals__body">
        <div class="modals__body__image">
          <img src="{{site.baseurl}}/assets/img/07pshotnaujblancofreir.png" alt="" />
        </div>
        <div class="modals__body__info">
          <span>Características</span>
          <ul>
            <li>Queso fresco de color amarillo y de consistencia firme y compacta.</li>
            <li>De buen sabor y buena textura.</li>
            <li>Bajo en sal.</li>
          </ul>
          <span>Combinación</span>
          <ul>
            <li>Ideal para el desayuno.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- costero01 -->
<div id="costero01" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <div class="content__modals">
      <div class="modals__header">
        <h3 class="color--blanco">Queso Tipo Holandés</h3>
      </div>
      <div class="modals__body">
        <div class="modals__body__image">
          <img src="{{site.baseurl}}/assets/img/08pshotcosteroholandes.png" alt="" />
        </div>
        <div class="modals__body__info">
          <span>Características</span>
          <ul>
            <li>Queso de color amarillo tenue semi suave.</li>
            <li>De sabor intenso y aroma suave.</li>
            <li>Bajo en sal y suele tener pequeños agujeros de tamaños irregulares.</li>
          </ul>
          <span>Características</span>
          <ul>
            <li>Ideal para sándwiches y snacks.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- costero02 -->
<div id="costero02" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <div class="content__modals">
      <div class="modals__header">
        <h3 class="color--blanco">Queso Amarillo de Freír</h3>
      </div>
      <div class="modals__body">
        <div class="modals__body__image">
          <img src="{{site.baseurl}}/assets/img/09pshotcosteroamarillofreír.png" alt="" />
        </div>
        <div class="modals__body__info">
          <span>Características</span>
          <ul>
            <li>Queso fresco de color amarillo.</li>
            <li>De buen sabor y buena textura.</li>
          </ul>
          <span>Características</span>
          <ul>
            <li>Ideal para cualquier desayuno.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- costero03 -->
<div id="costero03" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <div class="content__modals">
      <div class="modals__header">
        <h3 class="color--blanco">Queso Blanco de Freír</h3>
      </div>
      <div class="modals__body">
        <div class="modals__body__image">
          <img src="{{site.baseurl}}/assets/img/10pshotcosteroblancofreir.png" alt="" />
        </div>
        <div class="modals__body__info">
          <span>Características</span>
          <ul>
            <li>Queso fresco de color blanco.</li>
            <li>De buen sabor y buena textura.</li>
          </ul>
          <span>Características</span>
          <ul>
            <li>Ideal para cualquier desayuno.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- DATOS NUTRICIONALES -->

<!-- rottis01 -->
<div id="dn-rottis01" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content2 w3-animate-zoom">
    <div class="datosnuts">
      <img src="{{site.baseurl}}/assets/img/DatosNutricionales/01_rottis.jpg" alt="" />
    </div>
  </div>
</div>

<!-- baruk01 -->
<div id="dn-baruk01" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content2 w3-animate-zoom">
    <div class="datosnuts">
      <img src="{{site.baseurl}}/assets/img/DatosNutricionales/02_baruk.jpg" alt="" />
    </div>
  </div>
</div>
<!-- baruk02 -->
<div id="dn-baruk02" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content2 w3-animate-zoom">
    <div class="datosnuts">
      <img src="{{site.baseurl}}/assets/img/DatosNutricionales/03_baruk.jpg" alt="" />
    </div>
  </div>
</div>

<!-- nauj01 -->
<div id="dn-nauj01" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content2 w3-animate-zoom">
    <div class="datosnuts">
      <img src="{{site.baseurl}}/assets/img/DatosNutricionales/04_nauj.jpg" alt="" />
    </div>
  </div>
</div>
<!-- nauj02 -->
<div id="dn-nauj02" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content2 w3-animate-zoom">
    <div class="datosnuts">
      <img src="{{site.baseurl}}/assets/img/DatosNutricionales/05_nauj.jpg" alt="No disponible" />
    </div>
  </div>
</div>
<!-- nauj03 -->
<div id="dn-nauj03" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content2 w3-animate-zoom">
    <div class="datosnuts">
      <img src="{{site.baseurl}}/assets/img/DatosNutricionales/06_nauj.jpg" alt="" />
    </div>
  </div>
</div>
<!-- nauj04 -->
<div id="dn-nauj04" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content2 w3-animate-zoom">
    <div class="datosnuts">
      <img src="{{site.baseurl}}/assets/img/DatosNutricionales/07_nauj.jpg" alt="" />
    </div>
  </div>
</div>

<!-- costero01 -->
<div id="dn-costero01" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content2 w3-animate-zoom">
    <div class="datosnuts">
      <img src="{{site.baseurl}}/assets/img/DatosNutricionales/08_costero.jpg" alt="" />
    </div>
  </div>
</div>
<!-- costero02 -->
<div id="dn-costero02" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content2 w3-animate-zoom">
    <div class="datosnuts">
      <img src="{{site.baseurl}}/assets/img/DatosNutricionales/09_costero.jpg" alt="" />
    </div>
  </div>
</div>
<!-- costero03 -->
<div id="dn-costero03" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content2 w3-animate-zoom">
    <div class="datosnuts">
      <img src="{{site.baseurl}}/assets/img/DatosNutricionales/10_costero.jpg" alt="" />
    </div>
  </div>
</div>
