<!-- seccion - contenido de nosotros -->
<section class="nosotros__content">

  <!-- banner -->
  <div class="body__banner">
    <img src="{{site.baseurl}}/assets/img/banner-nosotros.jpg" alt="Nosotros Banner" />
  </div>
  <!-- historia content -->
  <div class="body__historia">
    <!-- historia -->
    <div class="historia__empresa" id="historia">
      <h2>Nuestra Historia</h2>
      <p>
        Jemazar es una empresa dominicana dedicada a la distribución de
        productos lácteos, cárnicos, pescados y mariscos de la más alta calidad
        con precios competitivos. Somos distribuidores autorizados de la
        fábrica de Quesos Rottis. Nuestros productos se caracterizan por ser
        los mejores productos del mercado, etiquetados y empacados con los
        mayores estándares.
      </p>
    </div>
  </div>

  <hr>

  <!-- principios content -->
  <div class="body__principios">
    <div class="principios__todos">
      <!-- principios banner -->
      <div class="principios__banner"  id="principios">
        <h2>Principios Empresariales</h2>
      </div>
      <!-- principios todos -->
      <div class="principios__lemas">
        <div class="lemas__vision">
          <h2>Visión</h2>
          <p>Ser la empresa de distribución preferida por nuestros clientes,
            para dar a conocer los productos a nivel nacional enfocándonos
            en calidad, seguridad, confianza y satisfacción en el tiempo de
            entrega.</p>
        </div>
        <div class="lemas__mision">
          <h2>Misión</h2>
          <p>Distribuir una gama de productos de calidad con entrega a
              tiempo y con un servicio eficiente, a través de un equipo de
              trabajo entrenado y calificado.</p>
        </div>
        <div class="lemas__valores">
          <h2>Valores</h2>
          <ul>
            <li>Calidad</li>
            <li>Responsabilidad</li>
            <li>Confianza</li>
            <li>Seguridad</li>
            <li>Innovación</li>
            <li>Compromiso <br>(Responsabilidad social.)</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <hr>

  <!-- clientes content -->
  <div class="body__clientes">
    <div class="clientes__todos">
      <!-- clientes banner -->
      <div class="clientes__banner" id="clientes">
        <h2>Nuestros Clientes</h2>
      </div>
      <!-- clientes todos -->
      <div class="clientes__cuadros">
        <!-- #1 -->
        <div class="cuadros__pics">
          <a href="javascript:void(0)"><img src="{{site.baseurl}}/assets/img/clientes/cliente01.jpg" alt="" />
          </a>
        </div>
        <!-- #2 -->
        <div class="cuadros__pics">
          <a href="javascript:void(0)"><img src="{{site.baseurl}}/assets/img/clientes/cliente02.jpg" alt="" />
          </a>
        </div>
        <!-- #3 -->
        <div class="cuadros__pics">
          <a href="javascript:void(0)"><img src="{{site.baseurl}}/assets/img/clientes/cliente03.jpg" alt="" />
          </a>
        </div>
        <!-- #4 -->
        <div class="cuadros__pics">
          <a href="javascript:void(0)"><img src="{{site.baseurl}}/assets/img/clientes/cliente04.jpg" alt="" />
          </a>
        </div>
        <!-- #5 -->
        <div class="cuadros__pics">
          <a href="javascript:void(0)"><img src="{{site.baseurl}}/assets/img/clientes/cliente05.jpg" alt="" />
          </a>
        </div>
        <!-- #6 -->
        <div class="cuadros__pics">
          <a href="javascript:void(0)"><img src="{{site.baseurl}}/assets/img/clientes/cliente06.jpg" alt="" />
          </a>
        </div>
        <!-- #7 -->
        <div class="cuadros__pics">
          <a href="javascript:void(0)"><img src="{{site.baseurl}}/assets/img/clientes/cliente07.jpg" alt="" />
          </a>
        </div>
        <!-- #8 -->
        <div class="cuadros__pics">
          <a href="javascript:void(0)"><img src="{{site.baseurl}}/assets/img/clientes/cliente08.jpg" alt="" />
          </a>
        </div>
        <!-- #9 -->
        <div class="cuadros__pics">
          <a href="javascript:void(0)"><img src="{{site.baseurl}}/assets/img/clientes/cliente09.jpg" alt="" />
          </a>
        </div>
        <!-- #10 -->
        <div class="cuadros__pics">
          <a href="javascript:void(0)"><img src="{{site.baseurl}}/assets/img/clientes/cliente10.jpg" alt="" />
          </a>
        </div>
        <!-- #11 -->
        <div class="cuadros__pics">
          <a href="javascript:void(0)"><img src="{{site.baseurl}}/assets/img/clientes/cliente11.jpg" alt="" />
          </a>
        </div>
        <!-- #12 -->
        <div class="cuadros__pics">
          <a href="javascript:void(0)"><img src="{{site.baseurl}}/assets/img/clientes/cliente12.jpg" alt="" />
          </a>
        </div>
        <!-- #13 -->
        <div class="cuadros__pics">
          <a href="javascript:void(0)"><img src="{{site.baseurl}}/assets/img/clientes/cliente13.jpg" alt="" />
          </a>
        </div>
        <!-- #14 -->
        <div class="cuadros__pics">
          <a href="javascript:void(0)"><img src="{{site.baseurl}}/assets/img/clientes/cliente14.jpg" alt="" />
          </a>
        </div>
        <!-- #15 -->
        <div class="cuadros__pics">
          <a href="javascript:void(0)"><img src="{{site.baseurl}}/assets/img/clientes/cliente15.jpg" alt="" />
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
