<!-- seccion - contenido de nosotros -->
<section class="nosotros__content">

  <!-- banner -->
  <div class="body__banner">
    <h1>Conocenos</h1>
  </div>

  <!-- historia content -->
  <div class="body__historia">

    <!-- historia -->
    <div class="historia__empresa" id="historia">
      <h2>Nuestra Historia</h2>
      <p>
        Video provides a powerful way to help you prove your point. When
        you click Online Video, you can paste in the embed code for the
        video you want to add. You can also type a keyword to search online
        for the video that best fits your document.<br>
        To make your document look professionally produced, Word provides
        header, footer, cover page, and text box designs that complement
        each other. For example, you can add a matching cover page,
        header, and sidebar. Click Insert and then choose the elements
        you want from the different galleries.<br>
        Themes and styles also help keep your document coordinated. When
        you click Design and choose a new Theme, the pictures, charts, and
        SmartArt graphics change to match your new theme. When you apply
        styles, your headings change to match the new theme.
      </p>
    </div>
  </div>

  <hr>

  <!-- principios content -->
  <div class="body__principios">
    <div class="principios__todos">

      <!-- principios banner -->
      <div class="principios__banner">
        <h2>Principios Empresariales</h2>
      </div>

      <!-- principios todos -->
      <div class="principios__lemas">
        <div class="lemas__vision">
          <h2>Visión</h2>
          <p>Ser la empresa de distribución preferida por nuestros clientes,
            para dar a conocer los productos a nivel nacional enfocándonos
            en calidad, seguridad, confianza y satisfacción en el tiempo de
            entrega.</p>
        </div>
        <div class="lemas__mision">
          <h2>Misión</h2>
          <p>Distribuir una gama de productos de calidad con entrega a
              tiempo y con un servicio eficiente, a través de un equipo de
              trabajo entrenado y calificado.</p>
        </div>
        <div class="lemas__valores">
          <h2>Valores</h2>
          <ul>
            <li>Calidad</li>
            <li>Responsabilidad</li>
            <li>Confianza</li>
            <li>Seguridad</li>
            <li>Innovación</li>
            <li>Compromiso <br>(Responsabilidad social.)</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
