<section class="header">
  <div class="header__logo">
    <a href="{{site.baseurl}}/index.html">
      {% include /icons/logo.html %}
    </a>
  </div>
</section>

<section class="banner">
  <span class="full--width"></span>
  <h1>Novedades</h1>
</section>

<section class="info">
  <p>
    <strong class="color--marca font20">¡Lo más reciente!</strong>, en esta sección podrás encontrar las ultimas noticias, promociones, eventos y todas las actividades relacionadas con nosotros y nuestros productos.
  </p>
</section>

<section class="novedades">
  <div class="novedades__post">
    <div class="post__tittle">
      <h3><strong>Quesos de calidad</strong> en Supermercados Nacional</h3>
    </div>

    <div class="post__body">
      <p>Orgullosos de ofrecerte quesos de calidad y sabor reconocido, Supermercados Nacional comparte con sus clientes los quesos <strong>"Ganadores en el primer concurso de quesos artesanales en la Feria Agropecuaria"</strong></p>
      <a href="javascript:void(0)" onclick="document.getElementById('novedades1').style.display='block'">
        <img src="{{site.baseurl}}/assets/img/novedades/novedades1.jpg" alt="">
      </a>
    </div>

    <div class="post__info">
      <br>
      <p>Publicado el <strong class="color--marca">24/3/2017 (10:45 PM)</strong> por <strong class="color--marca">Jemazar</strong></p>
    </div>

  </div>
</section>



<!-- MODALS -->
<div id="novedades1" class="w3-modal" onclick="this.style.display='none'">
  <div class="premodal">
    <img src="{{site.baseurl}}/assets/img/novedades/novedades1.jpg" alt="" />
  </div>
</div>
