<!-- seccion - contenido de productos -->
<section class="productos__content">

  <!-- banner -->
  <div class="body__banner">
    <h1>Nuestras marcas son reflejo de calidad</h1>
  </div>

  <!-- tabs -->
  <div class="body__tab">
    <ul class="body__tablinks">
      <!-- <li><a href="#" class="tablinks__tab" onclick="productosJemazar(event, 'categorias')"><strong>Categorias</strong></a></li> -->
      <li><a href="javascript:void(0)" class="tablinks__tab" onclick="productosJemazar(event, 'marcas')">Marcas</a></li>
      <li><a href="javascript:void(0)" class="tablinks__tab" onclick="productosJemazar(event, 'productos')">Productos</a></li>
    </ul>
  </div>

  <!-- categorias -->
  <div id="categorias" class="tablinks__grid">
    <div class="grid__categorias grid--flex">
      <div class="categorias__item"></div>
      <div class="categorias__item"></div>
      <div class="categorias__item"></div>
      <div class="categorias__item"></div>
      <div class="categorias__item"></div>
      <div class="categorias__item"></div>
      <div class="categorias__item"></div>
      <div class="categorias__item"></div>
    </div>
  </div>

  <!-- marcas -->
  <div id="marcas" class="tablinks__grid">
    <h2>Marcas</h2>
    <div class="grid__marcas grid--flex">
      <!-- rottis -->
      <div class="marcas__content">
        <a href="{{site.baseurl}}/pages/marcas/rottis.html">
          <div class="marcas__item">
            <span class="helper"></span><img src="{{site.baseurl}}/assets/img/layer1.png" alt="" />
          </div>
        </a>
        <a href="{{site.baseurl}}/pages/marcas/rottis.html"><span>ver productos ></span></a>
      </div>
      <!-- baruk -->
      <div class="marcas__content">
        <a href="{{site.baseurl}}/pages/marcas/baruk.html">
          <div class="marcas__item">
            <span class="helper"></span><img src="{{site.baseurl}}/assets/img/layer2.png" alt="" />
          </div>
        </a>
        <a href="{{site.baseurl}}/pages/marcas/baruk.html"><span>ver productos ></span></a>
      </div>
      <!-- nauj -->
      <div class="marcas__content">
        <a href="{{site.baseurl}}/pages/marcas/nauj.html">
          <div class="marcas__item">
            <span class="helper"></span><img src="{{site.baseurl}}/assets/img/layer3.png" alt="" />
          </div>
        </a>
        <a href="{{site.baseurl}}/pages/marcas/baruk.html">ver productos ></a>
      </div>
      <!-- costero -->
      <div class="marcas__content">
        <a href="{{site.baseurl}}/pages/marcas/costero.html">
          <div class="marcas__item">
            <span class="helper"></span><img src="{{site.baseurl}}/assets/img/layer4.png" alt="" />
          </div>
        </a>
        <a href="{{site.baseurl}}/pages/marcas/costero.html"><span>ver productos ></span></a>
      </div>
    </div>
  </div>

  <!-- productos -->
  <div id="productos" class="tablinks__grid">
    <h2>Productos</h2>
    <div class="grid__productos grid--flex">

      <div class="productos">
        <a href="javascript:void(0)" onclick="document.getElementById('rottis01').style.display='block'">
          <div class="productos__items">
            <span class="helper"></span><img src="{{site.baseurl}}/assets/img/01pshotrottis.png" alt="" />
          </div>
        </a>
        <span>Rottís: Queso Tipo Holandés</span>
        <a href="javascript:void(0)" onclick="document.getElementById('rottis01').style.display='block'"><span>Datos nutricionales</span></a>
      </div>

      <div class="productos">
        <a href="javascript:void(0)" onclick="document.getElementById('baruk01').style.display='block'">
          <div class="productos__items">
            <span class="helper"></span><img src="{{site.baseurl}}/assets/img/02pshotbarukdanes.png" alt="" />
          </div>
        </a>
        <span>Baruk: Queso Danés</span>
        <a href="javascript:void(0)" onclick="document.getElementById('baruk01').style.display='block'"><span>Datos nutricionales ></span></a>
      </div>

      <div class="productos">
        <a href="javascript:void(0)" onclick="document.getElementById('baruk02').style.display='block'">
          <div class="productos__items">
            <span class="helper"></span><img src="{{site.baseurl}}/assets/img/03pshotbarukmozzarella.png" alt="" />
          </div>
        </a>
        <span>Baruk: Queso Mozzarella</span>
        <a href="javascript:void(0)" onclick="document.getElementById('baruk02').style.display='block'"><span>Datos nutricionales ></span></a>
      </div>

      <div class="productos">
        <a href="javascript:void(0)" onclick="document.getElementById('nauj01').style.display='block'">
          <div class="productos__items">
            <span class="helper"></span><img src="{{site.baseurl}}/assets/img/04pshotnaujcheddar.png" alt="" />
          </div>
        </a>
        <span>Nauj: Queso Cheddar</span>
        <a href="javascript:void(0)" onclick="document.getElementById('nauj01').style.display='block'"><span>Datos nutricionales ></span></a>
      </div>

      <div class="productos">
        <a href="javascript:void(0)" onclick="document.getElementById('nauj02').style.display='block'">
          <div class="productos__items">
            <span class="helper"></span><img src="{{site.baseurl}}/assets/img/05pshotnaujquesohoja.png" alt="" />
          </div>
        </a>
        <span>Nauj: Queso de Hoja</span>
        <a href="javascript:void(0)" onclick="document.getElementById('nauj02').style.display='block'"><span>Datos nutricionales ></span></a>
      </div>

      <div class="productos">
        <a href="javascript:void(0)" onclick="document.getElementById('nauj03').style.display='block'">
          <div class="productos__items">
            <span class="helper"></span><img src="{{site.baseurl}}/assets/img/06pshotnaujamarillofreir.png" alt="" />
          </div>
        </a>
        <span>Nauj: Queso Amarillo de Freír</span>
        <a href="javascript:void(0)" onclick="document.getElementById('nauj03').style.display='block'"><span>Datos nutricionales ></span></a>
      </div>

      <div class="productos">
        <a href="javascript:void(0)" onclick="document.getElementById('nauj04').style.display='block'">
          <div class="productos__items">
            <span class="helper"></span><img src="{{site.baseurl}}/assets/img/07pshotnaujblancofreir.png" alt="" />
          </div>
        </a>
        <span>Nauj: Queso Blanco de Freír</span>
        <a href="javascript:void(0)" onclick="document.getElementById('nauj04').style.display='block'"><span>Datos nutricionales ></span></a>
      </div>

      <div class="productos">
        <a href="javascript:void(0)" onclick="document.getElementById('costero01').style.display='block'">
          <div class="productos__items">
            <span class="helper"></span><img src="{{site.baseurl}}/assets/img/08pshotcosteroholandes.png" alt="" />
          </div>
        </a>
        <span>Costero: Queso Tipo Holandés</span>
        <a href="javascript:void(0)" onclick="document.getElementById('costero01').style.display='block'"><span>Datos nutricionales ></span></a>
      </div>

      <div class="productos">
        <a href="javascript:void(0)" onclick="document.getElementById('costero02').style.display='block'">
          <div class="productos__items">
            <span class="helper"></span><img src="{{site.baseurl}}/assets/img/09pshotcosteroamarillofreír.png" alt="" />
          </div>
        </a>
        <span>Costero: Queso Amarillo de Freír</span>
        <a href="javascript:void(0)" onclick="document.getElementById('costero02').style.display='block'"><span>Datos nutricionales ></span></a>
      </div>

      <div class="productos">
        <a href="javascript:void(0)" onclick="document.getElementById('costero03').style.display='block'">
          <div class="productos__items">
            <span class="helper"></span><img src="{{site.baseurl}}/assets/img/10pshotcosteroblancofreir.png" alt="" />
          </div>
        </a>
        <span>Costero: Queso Blanco de Freír</span>
        <a href="javascript:void(0)" onclick="document.getElementById('costero02').style.display='block'"><span>Datos nutricionales ></span></a>
      </div>

    </div>
  </div>
</section>
