<!-- seccion - contenido de productos -->
<section class="productos__content">

  <!-- banner -->
  <div class="body__banner">
    <h1>Nuestras marcas son reflejo de calidad</h1>
  </div>

  <!-- tabs -->
  <div class="body__tab">
    <ul class="body__tablinks">
      <!-- <li><a href="#" class="tablinks__tab" onclick="productosJemazar(event, 'categorias')"><strong>Categorias</strong></a></li> -->
      <li><a href="#" class="tablinks__tab" onclick="productosJemazar(event, 'marcas')">Marcas</a></li>
      <li><a href="#" class="tablinks__tab" onclick="productosJemazar(event, 'productos')">Productos</a></li>
    </ul>
  </div>

  <!-- categorias -->
  <div id="categorias" class="tablinks__grid">
    <div class="grid__categorias grid--flex">
      <div class="categorias__item"></div>
      <div class="categorias__item"></div>
      <div class="categorias__item"></div>
      <div class="categorias__item"></div>
      <div class="categorias__item"></div>
      <div class="categorias__item"></div>
      <div class="categorias__item"></div>
      <div class="categorias__item"></div>
    </div>
  </div>

  <!-- marcas -->
  <div id="marcas" class="tablinks__grid">
    <h2>Marcas</h2>
    <div class="grid__marcas grid--flex">
      <div class="marcas__content">
        <a href="#rottis">
          <div class="marcas__item">
            <img src="/assets/img/layer1.png" alt="" />
          </div>
        </a>
        <a href="#rottis"><span>ver productos ></span></a>
      </div>

      <div class="marcas__content">
        <a href="#baruk">
          <div class="marcas__item">
            <img src="/assets/img/layer2.png" alt="" />
          </div>
        </a>
        <a href="#baruk"><span>ver productos ></span></a>
      </div>

      <div class="marcas__content">
        <a href="#nauj">
          <div class="marcas__item">
            <img src="/assets/img/layer3.png" alt="" />
          </div>
        </a>
        <a href="#nauj">ver productos ></a>
      </div>

      <div class="marcas__content">
        <a href="#costero">
          <div class="marcas__item">
            <img src="/assets/img/layer4.png" alt="" />
          </div>
        </a>
        <a href="#costero"><span>ver productos ></span></a>
      </div>
    </div>
  </div>

  <!-- productos -->
  <div id="productos" class="tablinks__grid">
    <h2>Productos</h2>
    <div class="grid__productos grid--flex">
      <div class="productos__item"></div>
      <div class="productos__item"></div>
      <div class="productos__item"></div>
      <div class="productos__item"></div>
      <div class="productos__item"></div>
      <div class="productos__item"></div>
      <div class="productos__item"></div>
      <div class="productos__item"></div>
    </div>
  </div>

</section>
