<!-- seccion - contenido de productos -->
<section class="productos__content">

  <!-- banner -->
  <div class="body__banner">
    <img src="{{site.baseurl}}/assets/img/banner-productos.jpg" alt="Productos Banner" />
  </div>

  <!-- tabs -->
  <div class="body__tab">
    <ul class="body__tablinks">
      <li><a href="javascript:void(0)" class="tablinks__tab" onclick="productosJemazar(event, 'marcas')" id="tab__marcas">Marcas</a></li>
      <li><a href="javascript:void(0)" class="tablinks__tab" onclick="productosJemazar(event, 'productos')" id="tab__productos">Productos</a></li>
    </ul>
  </div>

  <!-- marcas -->
  <div id="marcas" class="tablinks__grid">
    <!-- <h2>Marcas</h2> -->
    <div class="grid__marcas grid--flex">
      <!-- rottis -->
      <div class="marcas__content">
        <a href="{{site.baseurl}}/pages/marcas/rottis.html">
          <div class="marcas__item">
            <span class="helper"></span><img src="{{site.baseurl}}/assets/img/layer1.png" alt="" />
          </div>
        </a>
        <a href="{{site.baseurl}}/pages/marcas/rottis.html"><span>ver productos ></span></a>
      </div>
      <!-- baruk -->
      <div class="marcas__content">
        <a href="{{site.baseurl}}/pages/marcas/baruk.html">
          <div class="marcas__item baruk__logo">
            <span class="helper"></span><img src="{{site.baseurl}}/assets/img/layer2.png" alt="" />
          </div>
        </a>
        <a href="{{site.baseurl}}/pages/marcas/baruk.html"><span>ver productos ></span></a>
      </div>
      <!-- nauj -->
      <div class="marcas__content">
        <a href="{{site.baseurl}}/pages/marcas/nauj.html">
          <div class="marcas__item">
            <span class="helper"></span><img src="{{site.baseurl}}/assets/img/layer3.png" alt="" />
          </div>
        </a>
        <a href="{{site.baseurl}}/pages/marcas/baruk.html">ver productos ></a>
      </div>
      <!-- costero -->
      <div class="marcas__content">
        <a href="{{site.baseurl}}/pages/marcas/costero.html">
          <div class="marcas__item">
            <span class="helper"></span><img src="{{site.baseurl}}/assets/img/layer4.png" alt="" />
          </div>
        </a>
        <a href="{{site.baseurl}}/pages/marcas/costero.html"><span>ver productos ></span></a>
      </div>
    </div>
  </div>
  <!-- productos -->
  <div id="productos" class="tablinks__grid">

    <!-- QUESO ROTTIS -->
    <div class="grid--flex--columna borderbot">
      <h2>Línea Rottís</h2>
      <div class="grid__productos grid--flex">
        <!-- rottis01 -->
        <div class="productos">
          <span class="strong--big">Queso tipo Holandés</span>
          <a href="javascript:void(0)" onclick="document.getElementById('rottis01').style.display='block'">
            <div class="productos__items">
              <span class="helper"></span><img src="{{site.baseurl}}/assets/img/productshot/01pshotrottis.png" alt="" />
            </div>
          </a>
          <a href="javascript:void(0)" onclick="document.getElementById('dn-rottis01').style.display='block'"><span class="button2">Datos nutricionales ></span></a>
        </div>
      </div>
    </div>

    <!-- QUESO BARUK -->
    <div class="grid--flex--columna borderbot">
      <h2>Línea Baruk</h2>
      <div class="grid__productos grid--flex">
        <!-- baruk01 -->
        <div class="productos">
          <span class="strong--big">Queso Danés</span>
          <a href="javascript:void(0)" onclick="document.getElementById('baruk01').style.display='block'">
            <div class="productos__items">
              <span class="helper"></span><img src="{{site.baseurl}}/assets/img/productshot/02pshotbarukdanes.png" alt="" />
            </div>
          </a>
          <a href="javascript:void(0)" onclick="document.getElementById('dn-baruk01').style.display='block'"><span class="button2">Datos nutricionales ></span></a>
        </div>
        <!-- baruk02 -->
        <div class="productos">
          <span class="strong--big">Queso Mozzarella</span>
          <a href="javascript:void(0)" onclick="document.getElementById('baruk02').style.display='block'">
            <div class="productos__items">
              <span class="helper"></span><img src="{{site.baseurl}}/assets/img/productshot/03pshotbarukmozzarella.png" alt="" />
            </div>
          </a>
          <a href="javascript:void(0)" onclick="document.getElementById('dn-baruk02').style.display='block'"><span class="button2">Datos nutricionales ></span></a>
        </div>
      </div>
    </div>

    <!-- QUESO NAUJ -->
    <div class="grid--flex--columna borderbot">
      <h2>Línea Nauj</h2>
      <div class="grid__productos grid--flex">
        <!-- nauj01 -->
        <div class="productos">
          <span class="strong--big">Queso tipo Cheddar</span>
          <a href="javascript:void(0)" onclick="document.getElementById('nauj01').style.display='block'">
            <div class="productos__items">
              <span class="helper"></span><img src="{{site.baseurl}}/assets/img/productshot/04pshotnaujcheddar.png" alt="" />
            </div>
          </a>
          <a href="javascript:void(0)" onclick="document.getElementById('dn-nauj01').style.display='block'"><span class="button2">Datos nutricionales ></span></a>
        </div>
        <!-- nauj02 -->
        <div class="productos">
          <span class="strong--big">Queso de Hoja</span>
          <a href="javascript:void(0)" onclick="document.getElementById('nauj02').style.display='block'">
            <div class="productos__items">
              <span class="helper"></span><img src="{{site.baseurl}}/assets/img/productshot/05pshotnaujquesohoja.png" alt="" />
            </div>
          </a>
          <a href="javascript:void(0)" onclick="document.getElementById('dn-nauj02').style.display='block'"><span class="button2">Datos nutricionales ></span></a>
        </div>
        <!-- nauj03 -->
        <div class="productos">
          <span class="strong--big">Queso Amarillo de Freír</span>
          <a href="javascript:void(0)" onclick="document.getElementById('nauj03').style.display='block'">
            <div class="productos__items">
              <span class="helper"></span><img src="{{site.baseurl}}/assets/img/productshot/06pshotnaujamarillofreir.png" alt="" />
            </div>
          </a>
          <a href="javascript:void(0)" onclick="document.getElementById('dn-nauj03').style.display='block'"><span class="button2">Datos nutricionales ></span></a>
        </div>
        <!-- nauj04 -->
        <div class="productos">
          <span class="strong--big">Queso Blanco de Freír</span>
          <a href="javascript:void(0)" onclick="document.getElementById('nauj04').style.display='block'">
            <div class="productos__items">
              <span class="helper"></span><img src="{{site.baseurl}}/assets/img/productshot/07pshotnaujblancofreir.png" alt="" />
            </div>
          </a>
          <a href="javascript:void(0)" onclick="document.getElementById('dn-nauj04').style.display='block'"><span class="button2">Datos nutricionales ></span></a>
        </div>
      </div>
    </div>

    <div class="grid--flex--columna">
      <h2>Línea Costero</h2>
      <div class="grid__productos grid--flex">
        <!-- costero01 -->
        <div class="productos">
          <span class="strong--big">Queso tipo Holandés</span>
          <a href="javascript:void(0)" onclick="document.getElementById('costero01').style.display='block'">
            <div class="productos__items">
              <span class="helper"></span><img src="{{site.baseurl}}/assets/img/productshot/08pshotcosteroholandes.png" alt="" />
            </div>
          </a>
          <a href="javascript:void(0)" onclick="document.getElementById('dn-costero01').style.display='block'"><span class="button2">Datos nutricionales ></span></a>
        </div>
        <!-- costero02 -->
        <div class="productos">
          <span class="strong--big">Queso Amarillo de Freír</span>
          <a href="javascript:void(0)" onclick="document.getElementById('costero02').style.display='block'">
            <div class="productos__items">
              <span class="helper"></span><img src="{{site.baseurl}}/assets/img/productshot/09pshotcosteroamarillofreír.png" alt="" />
            </div>
          </a>
          <a href="javascript:void(0)" onclick="document.getElementById('dn-costero02').style.display='block'"><span class="button2">Datos nutricionales ></span></a>
        </div>
        <!-- costero03 -->
        <div class="productos">
          <span class="strong--big">Queso Blanco de Freír</span>
          <a href="javascript:void(0)" onclick="document.getElementById('costero03').style.display='block'">
            <div class="productos__items">
              <span class="helper"></span><img src="{{site.baseurl}}/assets/img/productshot/10pshotcosteroblancofreir.png" alt="" />
            </div>
          </a>
          <a href="javascript:void(0)" onclick="document.getElementById('dn-costero03').style.display='block'"><span class="button2">Datos nutricionales ></span></a>
        </div>
      </div>
    </div>
  </div>
</section>
