<!-- banner -->
<section class="banner full--width no--padding">
  <div>
    <h1 class="color--blanco">Quesos Rottís</h1>
  </div>
</section>

<section class="marcas__info">
  <div class="info__logo">
    <img src="{{site.baseurl}}/assets/img/layer1.png" alt=""/>
  </div>
  <div class="info__parrafo">
    <p>
      Enim officia Lorem Lorem officia deserunt occaecat ut tempor sunt deserunt duis amet fugiat. Elit non minim quis magna anim aliquip velit. Deserunt incididunt esse sint fugiat cupidatat adipisicing consectetur. Sint dolor nisi anim sit nisi nostrud ea quis est ut ullamco sunt. Et anim ipsum non eu cupidatat ut amet officia labore. Eu fugiat deserunt do cillum ipsum enim ullamco irure eiusmod dolore veniam aliquip.
    </p>
  </div>
</section>

<section class="marcas__productos">
  <h3 class="align--left">Listado de productos:</h3>
  <hr>

  <div class="grid--row">
    <div class="grid__productos grid--flex">
      <div class="productos">
        <a href="#!" onclick="document.getElementById('rottis01').style.display='block'">
          <div class="productos__items">
            <img src="{{site.baseurl}}/assets/img/01pshotrottis.png" alt="" />
          </div>
        </a>
        <span>Queso Tipo Holandes</span>
        <a href="#!" onclick="document.getElementById('rottis01').style.display='block'"><span>MÁS INFO ></span></a>
      </div>
    </div>
  </div>

</section>


<!-- Modals -->
<div id="rottis01" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <div class="content__modals">
      <div class="modals__header">
        <h3 class="color--blanco">Queso Tipo Holandes</h3>
      </div>
      <div class="modals__body">
        <div class="modals__body__image">
          <img src="{{site.baseurl}}/assets/img/01pshotrottis.png" alt="" />
        </div>
        <div class="modals__body__info">
          <span>Características</span>
          <ul>
            <li>Queso de color amarillo tenue semi suave.</li>
            <li>De sabor intenso y aroma suave.</li>
            <li>Bajo en sal y suele tener pequeños agujeros de tamaños irregulares.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
